<header class="x-header" ng-include="'views/particles/homeHeader.html'"></header>


<scrollable class="h92p">
    <section class="x-exp">
        <div class="x-exp-fst wp-btw">
            <h1>Skylar Labs is built by a team of seasoned entrepreneurs with the mission of making intelligent assistant available for every organisation</h1>

        </div>

        <hr class="x-hr-line mar-v50">

        <div class="x-exp-snd">
            <div class="wp-btw">
                <div>
                    <h2>PRESS ENQUIRES</h2>
                    <h3>press@skylar.ai</h3>
                </div>

                <div>
                    <h2>CORPORATE ENQUIRES</h2>
                    <h3>corp@skylar.ai</h3>
                </div>

                <div>
                    <h2>OFFICE ADDRESS</h2>
                    <h3> Park Rotana Complex, 5th floor - Abu Dhabi</h3>
                </div>
            </div>



        </div>

        <div class="x-exp-team">
            <div class="x-wrap">
                <div class="x-exp-team-title">Investors/Advisors</div>

                <div class="wp-btw">
                    <div class="x-exp-team-item" >
                        <figure>
                            <img src="i/robot.png" alt="">
                        </figure>
                        <h2>Flat6labs Abu Dhabi</h2>
                        <h3>Summer'16 Accelerator</h3>

                    </div>

                    <div class="x-exp-team-item">
                        <figure>
                            <img src="i/robot.png" alt="">
                        </figure>
                        <h2>Lorem ipsum.</h2>
                        <h3>Lorem ipsum dolor.</h3>

                    </div>

                    <div class="x-exp-team-item">
                        <figure>
                            <img src="i/robot.png" alt="">
                        </figure>
                        <h2>Lorem ipsum.</h2>
                        <h3>Lorem ipsum dolor.</h3>

                    </div>
                </div>
            </div>
        </div>

        <div class="x-exp-team">
            <div class="x-wrap">
                <div class="x-exp-team-title">Our Team</div>

                <div class="wp-btw">
                    <div class="x-exp-team-item">
                        <figure>
                            <img src="i/robot.png" alt="">
                        </figure>
                        <h2>Abdulhamid Hassan</h2>
                        <h3>Co-founder & CEO</h3>
                        <div class="x-exp-team-item-social">
                            <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <div class="x-exp-team-item">
                        <figure>
                            <img src="i/robot.png" alt="">
                        </figure>
                        <h2>Achille Arouko</h2>
                        <h3>Co-founder & CTO</h3>
                        <div class="x-exp-team-item-social">
                            <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <div class="x-exp-team-item">
                        <figure>
                            <img src="i/robot.png" alt="">
                        </figure>
                        <h2>Prakhar Singh</h2>
                        <h3>Full Stack Engineer</h3>
                        <div class="x-exp-team-item-social">
                            <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                        </div>
                    </div>


                </div>


            </div>
        </div>


    </section>

    <footer class="x-footer" ng-include="'views/particles/homeFooter.html'"></footer>
</scrollable>


