<div class="x-bot">
    <header class="x-header-db" ng-include="'views/particles/dbHeader.html'"></header>

    <scrollable class="h92p">
        <div class="x-wrap-in">
            <div class="x-db-templates x-bot-box">
                <h3 class="x-h3-dark">Your Chatbots</h3>

                <div class="wp-btw">
                    <a href="#/create/new" ng-click="startIntroOnlyOnce();" class="x-db-templates-item_c">
                        <img src="i/icons/sircle_plus.png"/>
                        <h2>New Chatbot</h2>
                    </a>

                    <div class="x-db-templates-item_s">
                        <img src="i/icons/messanger@2x.png" alt="">
                        <h2>Lorem ipsum.</h2>

                        <div class="x-btn-settings">
                            <button toggle-next>
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                            <ul>
                                <li>
                                    <button>clone</button>
                                </li>
                                <li>
                                    <button>rename</button>
                                </li>
                            </ul>
                        </div>

                        <a href="#/build" class="x-btn_o c1b1">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <b>Edit</b>
                        </a>
                        <button class="x-btn_o c1b1"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>

                    <div class="x-db-templates-item_s">
                        <img src="i/icons/messanger@2x.png" alt="">
                        <h2>Lorem ipsum.</h2>

                        <div class="x-btn-settings">
                            <button toggle-next>
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                            <ul>
                                <li>
                                    <button>clone</button>
                                </li>
                                <li>
                                    <button>rename</button>
                                </li>
                            </ul>
                        </div>

                        <a href="#/build" class="x-btn_o c1b1">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <b>Edit</b>
                        </a>
                        <button class="x-btn_o c1b1"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>

                    <div class="x-db-templates-item_s">
                        <img src="i/icons/messanger@2x.png" alt="">
                        <h2>Lorem ipsum.</h2>

                        <div class="x-btn-settings">
                            <button toggle-next>
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                            <ul>
                                <li>
                                    <button>clone</button>
                                </li>
                                <li>
                                    <button>rename</button>
                                </li>
                            </ul>
                        </div>

                        <a href="#/build" class="x-btn_o c1b1">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <b>Edit</b>
                        </a>
                        <button class="x-btn_o c1b1"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </scrollable>
</div>


