<header class="x-header-db" ng-include="'views/particles/inHeader.html'"></header>
<header class="x-header-in" ng-include="'views/particles/inSubHeader.html'"></header>

<div class="h84p">
    <div class="x-bcas wp-btw h100p">
        <scrollable class="x-chat-aside h100p">
            <div class="mar-t25 pad-h30">
                <div class="x-build-aside-item">
                    <h1>Lorem.</h1>
                    <button class="x-btn-big_s" ng-click="addBroadcasting2()"><span>send a message</span></button>
                </div>

                <div class="x-info_s c1b4b6" ng-show="broadcasting3.length > 0">
                    {{bcWeeksArr.length == 0 ? 'Everyday' : ''}}
                    {{vars.someDateObject | date:"h:mma"}}
                    {{bcWeeksArr | join:', '}}
                </div>

                <div class="x-build-aside-item">
                    <h1>Lorem.</h1>
                    <button class="x-btn-big_s c1b1bT" ng-click="addBroadcasting3()"><i>+</i><span>add new</span></button>
                </div>
                <div class="x-build-aside-item">
                    <h1>Lorem ipsum dolor. <span>Lorem.</span></h1>
                </div>

                <div class="x-build-aside-item">
                    <div pickadate ng-model="vars.date"></div>
                    <h1 class="mar-t30 tac">Event on {{vars.date}}</h1>
                    <button class="x-btn-big_s c1b1bT" ng-click="addBroadcasting()"><i>+</i><span>add new</span></button>
                </div>
            </div>
        </scrollable>

        <scrollable class="x-chat-win h100p bgW">
            <div class="wp-arnd pad30">
                <div class="x-bcas-item" ng-repeat="item in broadcasting">
                    <h2>
                        Lorem ipsum.
                        <button class="x-btn-o" ng-click="openModal(1);"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </h2>
                    <div class="x-bcas-item-box">
                        <img src="i/icons/sircle_plus.png" alt="">
                    </div>
                    <button class="x-btn-big_s" ng-click="sendBcMess()"><span>send right now</span></button>
                </div>

                <div class="x-bcas-item" ng-repeat="item in broadcasting2">
                    <h2>
                        Lorem ipsum.
                        <button class="x-btn-o" ng-click="openModal(1);"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </h2>
                    <div class="x-bcas-item-box">
                        <h2>Lorem ipsum.</h2>
                        <button>Lorem ipsum.</button>
                        <button>Lorem ipsum. <span><i class="fa fa-question-circle" aria-hidden="true"></i></span></button>
                        <button>Lorem ipsum.</button>
                        <button>Lorem ipsum.</button>
                    </div>
                    <button class="x-btn-big_s" ng-click="sendBcMess()"><span>send right now</span></button>
                </div>

                <div class="x-bcas-item-event" ng-repeat="item in broadcasting3">
                    <div class="wp-btw">
                        <label class="x-bcas-item-btn_time">
                            <input ui-timepicker ng-model="vars.someDateObject">
                            <i class="fa fa-arrows-v" aria-hidden="true"></i>
                        </label>
                        <button ng-click="openModal(2)" class="x-bcas-item-btn">
                            <span>Lorem ipsum.</span>
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </button>

                        <div class="x-bcas-item-btns">
                            <button ng-class="{active: bcWeeksArr.indexOf('Sun') < 0}" ng-click="toggleWeek('Sun')">sun</button>
                            <button ng-class="{active: bcWeeksArr.indexOf('Mon') < 0}" ng-click="toggleWeek('Mon')">mon</button>
                            <button ng-class="{active: bcWeeksArr.indexOf('Tue') < 0}" ng-click="toggleWeek('Tue')">tue</button>
                            <button ng-class="{active: bcWeeksArr.indexOf('Wed') < 0}" ng-click="toggleWeek('Wed')">wed</button>
                            <button ng-class="{active: bcWeeksArr.indexOf('Thu') < 0}" ng-click="toggleWeek('Thu')">thu</button>
                            <button ng-class="{active: bcWeeksArr.indexOf('Fri') < 0}" ng-click="toggleWeek('Fri')">fri</button>
                            <button ng-class="{active: bcWeeksArr.indexOf('Sat') < 0}" ng-click="toggleWeek('Sat')">sat</button>
                        </div>
                        <button class="x-btn-o" ng-click="openModal(1);"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>


                    <div class="x-bcas-item-box">
                        <img src="i/icons/sircle_plus.png" alt="">
                    </div>
                </div>

                <div class="x-message-sended" ng-if="bcMess">
                    <img src="i/sended.jpg" alt="">
                    <h1>Lorem ipsum dolor.</h1>
                    <h2>Lorem ipsum dolor sit amet, <b>consectetur</b> adipisicing elit. Autem cupiditate et hic, neque obcaecati quae rerum similique sint soluta voluptates?</h2>
                </div>
            </div>
        </scrollable>
    </div>
</div>



<scrollable class="x-modal_dark fixed" ng-show="openModalN == 1">
    <div class="x-wrap relative h100p">
        <div class="x-modal-close-wrap" ng-click="openModal('')"></div>

        <div class="x-modal-box_s tac">
            <h2 class="x-h3-dark">Do You really want to delete <b>Send now</b> block?</h2>
            <div class="pad-v30"></div>
            <button class="x-btn_o mar-h5" ng-click="openModal('')">Cancel</button>
            <button class="x-btn_blue mar-h5" ng-click="removeBroadcasting(0);removeBroadcasting2(0);removeBroadcasting3(0);openModal('');">ok</button>
        </div>
    </div>
</scrollable>

<scrollable class="x-modal_dark fixed" ng-show="openModalN == 2">
    <div class="x-wrap relative h100p">
        <div class="x-modal-close-wrap" ng-click="openModal('')"></div>

        <div class="x-modal-box_s tac">
            <h2 class="x-h3-dark">Broadcast reference</h2>
            <h2 class="x-h4-dark">
                <span>Send on</span>

                <span class="x-select">
                    <select>
                        <option value="1">Lorem ipsum.</option>
                        <option value="2">Lorem ipsum.</option>
                    </select>
                </span>
            </h2>
            <div class="pad-v30"></div>
            <button class="x-btn_o mar-h5" ng-click="openModal('')">Cancel</button>
            <button class="x-btn_blue mar-h5" ng-click="openModal('');">ok</button>
        </div>
    </div>
</scrollable>