<div class="h100p" ng-controller="buildCtrl as bCtrl">

    <div class="h100p" ng-intro-options="buildIntroOptions" ng-intro-method="CallMe" ng-intro-autostart="buildShouldAutoStart" >
        <header class="x-header-db" ng-include="'views/particles/inHeader.html'"></header>
        <header class="x-header-in" ng-include="'views/particles/inSubHeader.html'"></header>


        <scrollable class="x-build h84p">
            <div class="wp-btw h100p">
                <scrollable class="x-build-aside">
                    <div class="mar-t25 pad-h30">
                        <div id="buildStep5" class="x-build-group locked">
                            <div class="x-build-group-title wp-btw">
                                <span class="x-build-group-title-head">Built-in Cards</span>
                                <i class="fa fa-lock showOnHover pad10" aria-hidden="true"></i>
                            </div>
                            <div class="x-build-group-items">
                                <button ng-click="setBot(101)" ng-class="{active: isBot(101)}" class="x-build-group-items-item error">Welcome message</button>
                                <button ng-click="setBot(102)" ng-class="{active: isBot(102)}" class="x-build-group-items-item">Default answer</button>
                            </div>
                        </div>

                        <div id="buildStep6" class="x-build-group locked">
                            <div class="x-build-group-title wp-btw">
                                <span class="x-build-group-title-head">Built-in Menus</span>
                                <i class="fa fa-lock showOnHover pad10" aria-hidden="true"></i>
                            </div>
                            <div class="x-build-group-items">
                                <button ng-click="setBot(103)" ng-class="{active: isBot(103)}" class="x-build-group-items-item">Greeting Screen</button>
                                <button ng-click="setBot(104)" ng-class="{active: isBot(104)}" class="x-build-group-items-item">Get Started Button</button>
                            </div>
                        </div>

                        <div id="buildStep7" class="x-build-group locked">
                            <div class="x-build-group-title wp-btw">
                                <span class="x-build-group-title-head">Built-in Menus</span>
                                <i class="fa fa-lock showOnHover pad10" aria-hidden="true"></i>
                            </div>
                            <div class="x-build-group-items">
                                <button ng-click="setBot(105)" ng-class="{active: isBot(105)}" class="x-build-group-items-item">Upload Chatlogs</button>
                                <button ng-click="setBot(106)" ng-class="{active: isBot(106)}" class="x-build-group-items-item">Train with conversation</button>
                            </div>
                        </div>

                        <div id="buildStep8" ui-sortable="sortableOptionsY" ng-model="groups" class="relative">
                            <div class="x-build-group drag" ng-repeat="group in groups">
                                <div class="x-build-group-title wp-btw">
                        <span>
                            <button toggle-next class="x-btn-o x-build-group-title-head">{{group.title}}</button>
                            <input type="text" ng-value="group.title" ng-model="group.title" class="x-form-input no-mar">
                        </span>
                                    <button ng-click="removeGroup($index)" class="x-btn-o showOnHover pad-h5"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </div>
                                <div class="x-build-group-items">
                                    <button ng-repeat="item in group.bots" ng-click="setBot(item.id)" ng-class="{active: isBot(item.id)}" class="x-build-group-items-item x-repeat">{{item.title || 'item - ' + ($index + 1)}}</button>
                                    <button ng-click="addGroupBot(group.bots)" class="x-build-group-items-item"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="x-build-aside-item">
                            <button class="x-btn-big_s c9bWbW" ng-click="addGroup()"><i>+</i><span>add group</span></button>
                        </div>
                    </div>
                </scrollable>


                <scrollable class="x-build-chart">
                    <!--<button class="x-build-chart-btn x-btn-o"><img src="i/icons/logoIcon.jpg" alt=""></button>-->

                    <div ng-show="isBot(101)" class="pad25 tal wp-btw">
                        <div class="x-build-row" ng-repeat="item in vars.testMessage">
                            <div class="x-build-card-item one">
                                <label class="x-form-input-length">
                                    <textarea rows="1" msd-elastic ng-model="item.textarea" class="x-form-textarea" ng-class="{err: btn.title.length < 1}" placeholder="lore consectetur" maxlength="80"></textarea>
                                    <span class="x-form-input-length-counter">{{80 - item.textarea.length}}</span>
                                </label>


                                <div class="x-build-card-item-choose wp-btw" ng-repeat="btn in item.buttons">
                                    <label class="x-form-input-length">
                                        <input type="text" class="x-form-input" ng-class="{err: btn.title.length < 1}" ng-model="btn.title" placeholder="lore consectetur" maxlength="20">
                                        <span class="x-form-input-length-counter">{{20 - btn.title.length}}</span>

                            <span ng-show="btn.type == 1" class="x-build-card-item-choose-btnEdit">
                                <button ng-click="btnEdit(btn, 1)">{{bCtrl.colors[0] || 'none'}}</button>
                            </span>
                            <span ng-show="btn.type == 2" class="x-build-card-item-choose-btnEdit">
                                <a ng-click="btnEdit(btn, 2)">{{btn.url || 'none'}}</a>
                            </span>
                                    </label>

                                    <div class="x-build-card-item-choose-btns" ng-hide="btn.type == 1 || btn.type == 2">
                                        <button ng-click="btnEdit(btn, 1)" class="x-build-card-item-choose-btn"><i class="fa fa-sign-in" aria-hidden="true"></i></button>
                                        <button ng-click="btnEdit(btn, 2)" class="x-build-card-item-choose-btn"><i class="fa fa-link" aria-hidden="true"></i></button>
                                    </div>

                                    <div class="x-build-card-item-choose-edit" ng-class="{active: isBtnActive(btn)}">
                                        <button class="x-build-card-item-choose-btn" ng-class="{inactive: btn.type == 2}"><i class="fa fa-sign-in" aria-hidden="true"></i></button>
                                        <button class="x-build-card-item-choose-btn" ng-class="{inactive: btn.type == 1}"><i class="fa fa-link" aria-hidden="true"></i></button>


                                        <div ng-show="btn.type == 1" class="x-build-card-item-choose-edit-tag">
                                            <ui-select class="x-select-tag" multiple tagging tagging-label="(custom 'new' label)" ng-model="bCtrl.colors" sortable="true" title="Choose a color">
                                                <ui-select-match placeholder="Select colors...">{{$item}}</ui-select-match>
                                                <ui-select-choices repeat="color in bCtrl.availableColors">
                                                    {{color}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <input ng-show="btn.type == 2" type="text" class="x-form-input" ng-model="btn.url" placeholder="lore consectetur" maxlength="20">


                                        <button ng-click="btnEdit(btn)" class="x-build-card-item-choose-btn"><i class="fa fa-check" aria-hidden="true"></i></button>
                                        <button ng-click="removeButton(item.buttons, $index)" class="x-build-card-item-choose-btn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </div>
                                </div>


                                <div class="x-build-card-item-footer">
                                    <button ng-click="addButton(item)" class="x-btn-o c1"><i>+</i><span>add button</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="isBot(102)">

                        <div ng-repeat="bot in vars.testBot" class="x-repeat">


                            <div class="x-build-row">
                                <div class="x-build-chart-title">
                                    <input type="text" class="x-form-input" value="bot.title" ng-model="bot.title">
                                    <button class="x-btn-o pad10" tooltip-side="bottom" tooltips tooltip-template="Copy"><i class="fa fa-clone" aria-hidden="true"></i></button>
                                    <button ng-click="openModal(10);" class="x-btn-o pad10"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </div>
                            </div>


                            <div ui-sortable="sortableOptionsY" ng-model="bot.gallery">
                                <div class="x-build-row drag" ng-repeat="item in vars.testBot.gallery">
                                    <button ng-click="removeBuildItem('gallery', bot, vars.testBot)" class="x-build-row-remove x-btn-o"><i class="fa fa-trash" aria-hidden="true"></i></button>


                                    <div ui-sortable="sortableOptionsX" ui-sortable ng-model="item.items" class="relative">
                                        <div class="x-build-card-item drag x-repeat" ng-class="$index == 0 ? 'left' : 'middle'" ng-repeat="thisItem in item.items">
                                            <button ng-click="removeGalleryItem(item.items, $index)" class="x-btn-o showOnHover x-build-card-item-remove"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                            <label ng-click="openModal(7)" class="x-build-card-item-camera showOnHover">
                                                <input type="file">
                                                <i class="fa fa-camera" aria-hidden="true"></i>
                                            </label>

                                            <figure ng-show="openModalN == 7" class="x-build-card-item-upload">
                                                <img src="i/shoes.jpg" alt="">

                                                <figcaption>
                                                    <button class="x-btn-o"><i class="fa fa-camera" aria-hidden="true"></i><span>Change</span></button>
                                                    <button class="x-btn-o"><i class="fa fa-camera" aria-hidden="true"></i><span>Delete</span></button>
                                                </figcaption>
                                            </figure>
                                            <label class="x-form-input-length mar-b5">
                                                <textarea rows="1" msd-elastic="" ng-model="thisItem.title" maxlength="80" class="x-form-textarea_title err" placeholder="lore consectetur" style="overflow: hidden; word-wrap: break-word; resize: none; height: 90px;"></textarea>
                                                <span class="x-form-input-length-counter">{{20 - thisItem.title.length}}</span>
                                            </label>

                                            <label class="x-form-input-length">
                                                <textarea rows="1" msd-elastic="" ng-model="thisItem.textarea" maxlength="80" class="x-form-textarea err" placeholder="lore consectetur" style="overflow: hidden; word-wrap: break-word; resize: none; height: 90px;"></textarea>
                                                <span class="x-form-input-length-counter">{{80 - thisItem.textarea.length}}</span>
                                            </label>

                                            <input type="text" class="x-form-input mar-t5" ng-model="thisItem.url" maxlength="20" placeholder="Url">



                                            <div class="x-build-card-item-choose wp-btw" ng-repeat="btn in thisItem.buttons">
                                                <label class="x-form-input-length">
                                                    <input type="text" class="x-form-input" ng-class="{err: btn.title.length < 1}" ng-model="btn.title" placeholder="lore consectetur" maxlength="20">
                                                    <span class="x-form-input-length-counter">{{20 - btn.title.length}}</span>

                                        <span ng-show="btn.type == 1" class="x-build-card-item-choose-btnEdit">
                                            <button ng-click="btnEdit(btn, 1)">{{bCtrl.colors[0] || 'none'}}</button>
                                        </span>
                                        <span ng-show="btn.type == 2" class="x-build-card-item-choose-btnEdit">
                                            <a ng-click="btnEdit(btn, 2)">{{btn.url || 'none'}}</a>
                                        </span>
                                                </label>

                                                <div class="x-build-card-item-choose-btns" ng-hide="btn.type == 1 || btn.type == 2">
                                                    <button ng-click="btnEdit(btn, 1)" class="x-build-card-item-choose-btn"><i class="fa fa-sign-in" aria-hidden="true"></i></button>
                                                    <button ng-click="btnEdit(btn, 2)" class="x-build-card-item-choose-btn"><i class="fa fa-link" aria-hidden="true"></i></button>
                                                </div>

                                                <div class="x-build-card-item-choose-edit" ng-class="{active: isBtnActive(btn)}">
                                                    <button class="x-build-card-item-choose-btn" ng-class="{inactive: btn.type == 2}"><i class="fa fa-sign-in" aria-hidden="true"></i></button>
                                                    <button class="x-build-card-item-choose-btn" ng-class="{inactive: btn.type == 1}"><i class="fa fa-link" aria-hidden="true"></i></button>


                                                    <div ng-show="btn.type == 1" class="x-build-card-item-choose-edit-tag">
                                                        <ui-select class="x-select-tag" multiple tagging tagging-label="(custom 'new' label)" ng-model="bCtrl.colors" sortable="true" title="Choose a color">
                                                            <ui-select-match placeholder="Select colors...">{{$item}}</ui-select-match>
                                                            <ui-select-choices repeat="color in bCtrl.availableColors">
                                                                {{color}}
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                    <input ng-show="btn.type == 2" type="text" class="x-form-input" ng-model="btn.url" placeholder="lore consectetur" maxlength="20">


                                                    <button ng-click="btnEdit(btn)" class="x-build-card-item-choose-btn"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                    <button ng-click="removeButton(thisItem.buttons, $index)" class="x-build-card-item-choose-btn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                </div>
                                            </div>

                                            <div class="x-build-card-item-footer">
                                                <button ng-click="addButton(thisItem)" class="x-btn-o c1"><i>+</i><span>add button</span></button>
                                            </div>
                                        </div>
                                        <div class="x-build-card-item right">
                                            <button ng-click="addGalleryItem(item)" class="x-build-card-create"><img src="i/icons/sircle_plus.png" alt=""></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="x-build-row drag" ng-repeat="i in bot.textCard">
                                    <button ng-click="removeBuildItem('textCard', bot)" class="x-build-row-remove x-btn-o"><i class="fa fa-trash" aria-hidden="true"></i></button>

                                    <div class="x-build-card-item one">
                                        <textarea rows="1" msd-elastic ng-model="textarea1" class="x-form-textarea" placeholder="lore consectetur"></textarea>

                                        <div class="x-build-card-item-choose wp-btw" ng-repeat="i in addButtonArr">
                                            <input type="text" class="x-form-input" placeholder="lore consectetur">

                                            <div class="x-build-card-item-choose-btns">
                                                <button ng-click="setTab(9)" class="x-build-card-item-choose-btn"><i class="fa fa-sign-in" aria-hidden="true"></i></button>
                                                <button ng-click="setTab(9)" class="x-build-card-item-choose-btn"><i class="fa fa-link" aria-hidden="true"></i></button>
                                            </div>

                                            <div class="x-build-card-item-choose-edit" ng-class="{active: isTab(9)}">
                                                <button class="x-build-card-item-choose-btn"><i class="fa fa-sign-in" aria-hidden="true"></i></button>
                                                <button class="x-build-card-item-choose-btn"><i class="fa fa-link" aria-hidden="true"></i></button>

                                                <input type="text" class="x-form-input" placeholder="lore consectetur">


                                                <button ng-click="setTab(0)" class="x-build-card-item-choose-btn"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                <button class="x-build-card-item-choose-btn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            </div>
                                        </div>

                                        <div class="x-build-card-item-footer">
                                            <button ng-click="addButton()" class="x-btn-o c1"><i>+</i><span>add button</span></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="x-build-row drag" ng-repeat="i in bot.image">
                                    <button ng-click="removeBuildItem('image', bot)" class="x-build-row-remove x-btn-o"><i class="fa fa-trash" aria-hidden="true"></i></button>

                                    <label class="x-build-card-item img">
                                        <input type="file" class="x-build-card-item-file">
                                        <i class="fa fa-picture-o x-build-card-item-icon" aria-hidden="true"></i>
                                        <span class="x-build-card-item-title">Upload an image</span>
                                    </label>
                                </div>

                                <div class="x-build-row drag" ng-repeat="i in bot.plugin">
                                    <button ng-click="removeBuildItem('plugin', bot)" class="x-build-row-remove x-btn-o"><i class="fa fa-trash" aria-hidden="true"></i></button>

                                    <div class="x-build-card-item plugin">
                                        <div class="wp-btw">
                                            <div>
                                                <h2 class="x-h3 c1 tal no-mar">Lorem ipsum dolor. <sup>Lorem.</sup></h2>
                                            </div>
                                            <button class="x-btn-o c1 pad-h5"><i class="fa fa-question-circle-o" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="x-p-dark tal mar-t15">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque consequuntur dicta, distinctio dolor ea eligendi enim esse, est et mollitia odit perspiciatis provident, qui rem sed tempore velit vitae.
                                        </div>


                                        <form class="x-form mar-t40">
                                            <h2>Lorem ipsum dolor.</h2>
                                            <input type="text" class="x-form-input" placeholder="Enter url">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, consectetur?</p>
                                        </form>

                                    </div>
                                </div>
                            </div>


                            <div class="x-build-row">
                                <div class="x-build-box">
                                    <div class="x-build-box-mid_add">
                                        <button class="x-btn-o x-build-box-mid_add-create"><img src="i/icons/sircle_plus.png" alt=""></button>

                                        <div class="x-build-box-mid_add-content">
                                            <h2>Add a card:</h2>
                                            <button ng-click="createBuildItem('gallery', bot)">Gallery</button>
                                            <button ng-click="createBuildItem('textCard', bot)">Text card</button>
                                            <button ng-click="createBuildItem('image', bot)">Image <span><i class="fa fa-question-circle" aria-hidden="true"></i></span></button>
                                            <button ng-click="createBuildItem('plugin', bot);openModal(2)">Plugins</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                    <div ng-show="isBot(103)" class="pad25 tal wp-btw">
                        <div class="fl-flex2">
                            <h2 class="x-build-h2 mar-b25">Greeting Screen</h2>
                            <p style="" class="x-build-p mar-b15">This is useful to tell your user's what your chatbot does. The Greeting Text is only rendered the first time user interacts with your page on Messenger.</p>


                            <input type="text" class="x-form-input">
                            <button class="x-btn_gray">Save</button>
                        </div>
                        <div class="fl-flex1 tac"><img style="height: 500px; border: 2px solid #e0e0e0;" src="i/1-fb.png" alt=""></div>
                    </div>
                    <div ng-show="isBot(104)" class="pad25 tal wp-btw">
                        <div class="fl-flex2">
                            <h2 class="x-build-h2 mar-b25">Get Started Button</h2>
                            <p class="x-build-p mar-b15">This is useful for directing users how they can fully utilize the capabilities of your chatbot. You can present buttons to prompt the user to take an action.<p/>
                            <p class="x-build-p mar-b15">Select type of your message</p>
                        <span class="x-select-big-gray">
                            <select ng-model="vars.singleSelect">
                              <option value="first">Simple Message</option>
                              <option value="second">Created Cards</option>
                            </select>
                        </span>

                            <form class="x-form mar-v25" ng-show="vars.singleSelect == 'first'">
                                <h2 class="x-h2-dark">Lorem ipsum dolor.</h2>
                                <textarea rows="4" msd-elastic="" ng-model="textarea1" class="x-form-textarea ng-pristine ng-untouched ng-valid ng-empty" placeholder="lore consectetur" style="overflow: hidden; word-wrap: break-word; resize: none; height: 140px;"></textarea>
                            </form>

                            <div ng-show="vars.singleSelect == 'second'" class="mar-v25">
                                <p class="x-build-p mar-b15">Select your Created Cards</p>
                            <span class="x-select-big-gray">
                                <select>
                                  <option value="1">Lorem ipsum dolor.</option>
                                  <option value="2">Lorem ipsum.</option>
                                </select>
                            </span>
                            </div>

                            <button class="x-btn_gray">Save</button>
                        </div>
                        <div class="fl-flex1 tac">
                            <img ng-show="vars.singleSelect == 'first'" style="height: 500px;     border: 2px solid #e0e0e0;" src="i/fb-3.png" alt="">
                            <img ng-show="vars.singleSelect == 'second'" style="height: 500px;border: 2px solid #e0e0e0;" src="i/created-cards.png" alt="">
                        </div>
                    </div>
                    <div ng-show="isBot(105)" class="h100p pad25">
                        <label class="x-upload">
                            <input type="file">
                        <span class="x-upload-wrap">
                            <span class="x-upload-box">
                                <i class="fa fa-files-o" aria-hidden="true"></i>
                                <span class="x-upload-box-title">drag & drop</span>
                                <span class="x-upload-box-title-s">your files here or <b>browse</b></span>
                            </span>
                        </span>
                        </label>
                    </div>
                    <div ng-show="isBot(106)" class="h100p pad-b100">
                        <scrollable class="x-chat-win-mes">
                            <div class="x-chat-win-item from">
                                <div class="x-chat-win-item-img">
                                    <img src="i/icons/commerceIcon@2x.png" alt="">
                                    <span>10:10:10 PM</span>
                                </div>
                            </div>
                            <div class="x-chat-win-item x-repeat" ng-class="$index % 2 ? 'from' : 'to'" ng-repeat="i in chatMessages">
                                <div class="x-chat-win-item-ava" ng-hide="$index % 2">
                                    <a href="#" class="x-user-link">
                                        <img src="i/icons/logoIcon.jpg" alt="">
                                        <span></span>
                                    </a>
                                </div>
                                <div class="x-chat-win-item-text sended">
                                    <h2>
                                        Lorem ipsum dolor sit amet,
                                        <br>consectetur adipisicing
                                        elit. Possimus, sint?

                                        <span>10:10:10 PM</span>
                                    </h2>
                                </div>
                            </div>
                        </scrollable>

                        <div class="x-chat-win-send wp-btw-cen">
                            <div class="x-chat-win-send-input">
                                <input type="text" class="x-form-input">
                                <label class="x-chat-win-send-input-add">
                                    <input type="file">
                                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                                </label>
                            </div>
                            <button ng-click="sendMessage()" class="x-btn-big">send</button>
                        </div>
                    </div>

                    <div ng-repeat="group in groups">
                        <div ng-repeat="bot in group.bots | filter:{ 'id':  groupBot}:true" class="x-repeat">


                            <div class="x-build-row">
                                <div class="x-build-chart-title">
                                    <input type="text" class="x-form-input" value="bot.title" ng-model="bot.title">
                                    <button class="x-btn-o pad10" tooltip-side="bottom" tooltips tooltip-template="Copy"><i class="fa fa-clone" aria-hidden="true"></i></button>
                                    <button ng-click="openModal(10);" class="x-btn-o pad10"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </div>
                            </div>


                            <div ui-sortable="sortableOptionsY" ng-model="bot.gallery">
                                <div class="x-build-row drag" ng-repeat="item in bot.gallery">
                                    <button ng-click="removeBuildItem('gallery', bot)" class="x-build-row-remove x-btn-o c9"><i class="fa fa-trash" aria-hidden="true"></i></button>


                                    <div ui-sortable="sortableOptionsX" ui-sortable ng-model="item.items" class="relative">
                                        <div class="x-build-card-item drag x-repeat" ng-class="$index == 0 ? 'left' : 'middle'" ng-repeat="thisItem in item.items">
                                            <button ng-click="removeGalleryItem(item.items, $index)" class="x-btn-o showOnHover x-build-card-item-remove c9"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                            <label ng-click="openModal(7)" class="x-build-card-item-camera c9 showOnHover">
                                                <input type="file">
                                                <i class="fa fa-camera" aria-hidden="true"></i>
                                            </label>

                                            <figure ng-show="openModalN == 7" class="x-build-card-item-upload">
                                                <img src="i/shoes.jpg" alt="">

                                                <figcaption>
                                                    <button class="x-btn-o"><i class="fa fa-camera" aria-hidden="true"></i><span>Lorem.</span></button>

                                                    <button class="x-btn-o"><i class="fa fa-camera" aria-hidden="true"></i><span>Lorem.</span></button>
                                                </figcaption>
                                            </figure>
                                            <label class="x-form-input-length mar-b5">
                                                <textarea rows="1" msd-elastic="" ng-model="thisItem.title" maxlength="80" class="x-form-textarea_title err" placeholder="lore consectetur" style="overflow: hidden; word-wrap: break-word; resize: none; height: 40px;"></textarea>
                                                <span class="x-form-input-length-counter">{{80 - thisItem.title.length}}</span>
                                            </label>

                                            <label class="x-form-input-length">
                                                <textarea rows="1" msd-elastic="" ng-model="thisItem.textarea" maxlength="80" class="x-form-textarea_subtitle err" placeholder="lore consectetur" style="overflow: hidden; word-wrap: break-word; resize: none; height: 56px;"></textarea>
                                                <span class="x-form-input-length-counter">{{80 - thisItem.textarea.length}}</span>
                                            </label>

                                            <input type="text" class="x-form-input_url mar-t5" ng-model="thisItem.url" maxlength="20" placeholder="Url">



                                            <div class="x-build-card-item-choose wp-btw" ng-repeat="btn in thisItem.buttons">
                                                <label class="x-form-input-length">
                                                    <input type="text" class="x-form-input" ng-class="{err: btn.title.length < 1}" ng-model="btn.title" placeholder="lore consectetur" maxlength="20">
                                                    <span class="x-form-input-length-counter">{{20 - btn.title.length}}</span>

                                        <span ng-show="btn.type == 1" class="x-build-card-item-choose-btnEdit">
                                            <button ng-click="btnEdit(btn, 1)">{{bCtrl.colors[0] || 'none'}}</button>
                                        </span>
                                        <span ng-show="btn.type == 2" class="x-build-card-item-choose-btnEdit">
                                            <a ng-click="btnEdit(btn, 2)">{{btn.url || 'none'}}</a>
                                        </span>
                                                </label>

                                                <div class="x-build-card-item-choose-btns" ng-hide="btn.type == 1 || btn.type == 2">
                                                    <button ng-click="btnEdit(btn, 1)" class="x-build-card-item-choose-btn"><i class="fa fa-sign-in" aria-hidden="true"></i></button>
                                                    <button ng-click="btnEdit(btn, 2)" class="x-build-card-item-choose-btn"><i class="fa fa-link" aria-hidden="true"></i></button>
                                                </div>

                                                <div class="x-build-card-item-choose-edit" ng-class="{active: isBtnActive(btn)}">
                                                    <button class="x-build-card-item-choose-btn" ng-class="{inactive: btn.type == 2}"><i class="fa fa-sign-in" aria-hidden="true"></i></button>
                                                    <button class="x-build-card-item-choose-btn" ng-class="{inactive: btn.type == 1}"><i class="fa fa-link" aria-hidden="true"></i></button>


                                                    <div ng-show="btn.type == 1" class="x-build-card-item-choose-edit-tag">
                                                        <ui-select class="x-select-tag" multiple tagging tagging-label="(custom 'new' label)" ng-model="bCtrl.colors" sortable="true" title="Choose a color">
                                                            <ui-select-match placeholder="Select colors...">{{$item}}</ui-select-match>
                                                            <ui-select-choices repeat="color in bCtrl.availableColors">
                                                                {{color}}
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                    <input ng-show="btn.type == 2" type="text" class="x-form-input" ng-model="btn.url" placeholder="lore consectetur" maxlength="20">


                                                    <button ng-click="btnEdit(btn)" class="x-build-card-item-choose-btn"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                    <button ng-click="removeButton(thisItem.buttons, $index)" class="x-build-card-item-choose-btn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                </div>
                                            </div>

                                            <div class="x-build-card-item-footer">
                                                <button ng-click="addButton(thisItem)" class="x-btn-o c1"><i>+</i><span>add button</span></button>
                                            </div>
                                        </div>
                                        <div class="x-build-card-item right">
                                            <button ng-click="addGalleryItem(item)" class="x-build-card-create"><img src="i/icons/sircle_plus.png" alt=""></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="x-build-row drag" ng-repeat="i in bot.textCard">
                                    <button ng-click="removeBuildItem('textCard', bot)" class="x-build-row-remove x-btn-o"><i class="fa fa-trash" aria-hidden="true"></i></button>

                                    <div class="x-build-card-item one">
                                        <textarea rows="1" msd-elastic ng-model="textarea1" class="x-form-textarea" placeholder="lore consectetur"></textarea>

                                        <div class="x-build-card-item-choose wp-btw" ng-repeat="i in addButtonArr">
                                            <input type="text" class="x-form-input" placeholder="lore consectetur">

                                            <div class="x-build-card-item-choose-btns">
                                                <button ng-click="setTab(9)" class="x-build-card-item-choose-btn"><i class="fa fa-sign-in" aria-hidden="true"></i></button>
                                                <button ng-click="setTab(9)" class="x-build-card-item-choose-btn"><i class="fa fa-link" aria-hidden="true"></i></button>
                                            </div>

                                            <div class="x-build-card-item-choose-edit" ng-class="{active: isTab(9)}">
                                                <button class="x-build-card-item-choose-btn"><i class="fa fa-sign-in" aria-hidden="true"></i></button>
                                                <button class="x-build-card-item-choose-btn"><i class="fa fa-link" aria-hidden="true"></i></button>

                                                <input type="text" class="x-form-input" placeholder="lore consectetur">


                                                <button ng-click="setTab(0)" class="x-build-card-item-choose-btn"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                <button class="x-build-card-item-choose-btn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            </div>
                                        </div>

                                        <div class="x-build-card-item-footer">
                                            <button ng-click="addButton()" class="x-btn-o c1"><i>+</i><span>add button</span></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="x-build-row drag" ng-repeat="i in bot.image">
                                    <button ng-click="removeBuildItem('image', bot)" class="x-build-row-remove x-btn-o"><i class="fa fa-trash" aria-hidden="true"></i></button>

                                    <label class="x-build-card-item img">
                                        <input type="file" class="x-build-card-item-file">
                                        <i class="fa fa-picture-o x-build-card-item-icon" aria-hidden="true"></i>
                                        <span class="x-build-card-item-title">Upload an image</span>
                                    </label>
                                </div>

                                <div class="x-build-row drag" ng-repeat="i in bot.plugin">
                                    <button ng-click="removeBuildItem('plugin', bot)" class="x-build-row-remove x-btn-o"><i class="fa fa-trash" aria-hidden="true"></i></button>

                                    <div class="x-build-card-item plugin">
                                        <div class="wp-btw">
                                            <div>
                                                <h2 class="x-h3 c1 tal no-mar">Lorem ipsum dolor. <sup>Lorem.</sup></h2>
                                            </div>
                                            <button class="x-btn-o c1 pad-h5"><i class="fa fa-question-circle-o" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="x-p-dark tal mar-t15">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque consequuntur dicta, distinctio dolor ea eligendi enim esse, est et mollitia odit perspiciatis provident, qui rem sed tempore velit vitae.
                                        </div>


                                        <form class="x-form mar-t40">
                                            <h2>Lorem ipsum dolor.</h2>
                                            <input type="text" class="x-form-input" placeholder="Enter url">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, consectetur?</p>
                                        </form>

                                    </div>
                                </div>
                            </div>


                            <div class="x-build-row">
                                <div class="x-build-box">
                                    <div class="x-build-box-mid_add">
                                        <button class="x-btn-o x-build-box-mid_add-create"><img src="i/icons/sircle_plus.png" alt=""></button>

                                        <div class="x-build-box-mid_add-content">
                                            <h2>Add a card:</h2>
                                            <button ng-click="createBuildItem('gallery', bot)">Gallery</button>
                                            <button ng-click="createBuildItem('textCard', bot)">Text card</button>
                                            <button ng-click="createBuildItem('image', bot)">Image <span><i class="fa fa-question-circle" aria-hidden="true"></i></span></button>
                                            <button ng-click="createBuildItem('plugin', bot);openModal(2)">Plugins</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </scrollable>
            </div>
        </scrollable>
    </div>





    <!------------------------------MODALS------------------------------->

    <scrollable class="x-modal_dark" ng-show="openModalN == 12">
        <div class="x-modal-on wp-btw">
            <div class="x-modal-on-left">
                <h2 class="x-h3-dark pad-l15">Ecommerce Integration setup</h2>
                <p class="x-p-dark pad-l15 mar-t20">Which ecommerce software provider are you using? Pick below:</p>


                <label class="x-modal-radio" ng-click="vars.radioItem2 ? openModal(13): ''">
                    <input type="radio" ng-model="vars.radioItem" ng-value="1">
                    <span class="x-modal-radio-content">
                        <img src="i/shop.png">
                        <span>I'm using <br> Shopify</span>
                    </span>
                </label>
                <label class="x-modal-radio" ng-click="vars.radioItem2 ? openModal(13): ''">
                    <input type="radio" ng-model="vars.radioItem" ng-value="2">
                    <span class="x-modal-radio-content">
                        <img src="i/magento.png">
                        <span >I'm using <br> Magento</span>
                    </span>
                </label>
                <label class="x-modal-radio" ng-click="vars.radioItem2 ? openModal(13): ''">
                    <input type="radio" ng-model="vars.radioItem" ng-value="3">
                    <span class="x-modal-radio-content bg3">
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                        <span >Built <br> from scratch</span>
                    </span>
                </label>


                <br><br>


                <h2 style="margin-top: 50px;" class="x-h3-dark pad-l15">Order Tracking Setup</h2>
                <p class="x-p-dark pad-l15 mar-t20">Which courier provider are you using? Pick below:</p>


                <label class="x-modal-radio" ng-click="vars.radioItem ? openModal(13): ''">
                    <input type="radio" ng-model="vars.radioItem2" ng-value="1">
                    <span class="x-modal-radio-content">
                        <img src="i/ups.png">
                        <span >I'm using <br> UPS</span>
                    </span>
                </label>
                <label class="x-modal-radio" ng-click="vars.radioItem ? openModal(13): ''">
                    <input type="radio" ng-model="vars.radioItem2" ng-value="2">
                    <span class="x-modal-radio-content">
                        <img src="i/aramex.svg">
                        <span >I'm using <br> Aramex</span>
                    </span>
                </label>
                <label class="x-modal-radio" ng-click="vars.radioItem ? openModal(13): ''">
                    <input type="radio" ng-model="vars.radioItem2" ng-value="3">
                    <span class="x-modal-radio-content bg3">
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                        <span>I'm using <br> Another service</span>
                    </span>
                </label>
            </div>


            <div class="x-modal-on-right tac">
                <div class="x-circle">
                    <button class="x-circle-step active">1</button>
                    <button class="x-circle-step">2</button>
                </div>
                <div class="x-modal-on-right-info">
                  <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    <h2 class="x-h3-dark mar-b15">Why do we need this ?</h2>
                    <p class="x-p-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

                </div>

                <br>

                <div class="x-modal-on-right-info">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <h2 class="x-h3-dark mar-b15">This a one time setup</h2>
                    <p class="x-p-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

                </div>
            </div>
        </div>
    </scrollable>

    <scrollable class="x-modal_dark" ng-show="openModalN == 13">
        <div class="x-modal-on wp-btw">
            <div class="x-modal-on-left tac pad-h100">
                <h2 class="x-h3-dark tal mar-t40">Company Info</h2>
                <div class="wp-btw mar-v10">
                    <div class="w48p">
                        <h4 class="x-h4 mar-b5 tal">First name:</h4>
                        <input type="text" class="x-form-input">
                    </div>

                    <div class="w48p">
                        <h4 class="x-h4 mar-b5 tal">Last name:</h4>
                        <input type="password" class="x-form-input">
                    </div>
                </div>
                <div class="mar-v10">
                    <h4 class="x-h4 mar-b5 tal">Email address:</h4>
                    <input class="x-form-input" type="text">
                </div>
                <div class="mar-v10">
                    <h4 class="x-h4 mar-b5 tal">Phone number:</h4>
                    <input class="x-form-input" type="text">
                    <!--<label class="x-label_icon">-->
                    <!--<input type="email">-->
                    <!--<i class="fa fa-envelope-o" aria-hidden="true"></i>-->
                    <!--</label>-->
                </div>
                <div class="mar-v10">
                    <h4 class="x-h4 mar-b5 tal">Your position in company:</h4>
                    <textarea rows="1" msd-elastic="" class="x-form-textarea_title" ng-model="rererere" style="overflow: hidden; word-wrap: break-word; resize: none; min-height: 60px;"></textarea>
                </div>

                <div class="tar mar-b40">
                    <button class="x-btn-b_blue" ng-click="openModal(14)">Next</button>
                </div>
            </div>
            <div class="x-modal-on-right tac">
                <div class="x-circle">
                    <button class="x-circle-step">1</button>
                    <button class="x-circle-step active">2</button>
                </div>
                <div class="x-modal-on-right-info">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <h2 class="x-h3-dark mar-b15">Email setup</h2>
                    <p class="x-p-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deserunt enim ipsam nesciunt perferendis tempora?</p>
                </div>
            </div>
        </div>
    </scrollable>

    <scrollable class="x-modal-on_full" ng-show="openModalN == 14">
        <div class="wp-btw h100p">
            <div class="x-modal-on-left tac no-pad" style="overflow: scroll;">
                <h2 class="x-h3-dark tal mar-t40 pad-l40">Company Info</h2>
                <table class="x-modal-table">
                    <thead class="x-modal-table-head">
                        <tr>
                        <th>
                            <span>link</span>
                            <label class="x-checkbox">
                                <input type="checkbox" ng-model="vars.checkImage">
                                <i></i>
                            </label>
                        </th>
                        <th>
                            <span>link price</span>
                            <label class="x-checkbox">
                                <input type="checkbox" ng-model="vars.checkImage1">
                                <i></i>
                            </label>
                        </th>
                        <th>
                            <span>holder image</span>
                            <label class="x-checkbox">
                                <input type="checkbox" ng-model="vars.checkImage2">
                                <i></i>
                            </label>
                        </th>
                        <th>
                            <span>title value</span>
                            <label class="x-checkbox">
                                <input type="checkbox" ng-model="vars.checkImage3">
                                <i></i>
                            </label>
                        </th>
                        <th>
                            <span>block value</span>
                            <label class="x-checkbox">
                                <input type="checkbox" ng-model="vars.checkImage4">
                                <i></i>
                            </label>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="x-modal-table-body">
                        <tr ng-repeat="item in vars.table.body">
                            <td><a href="">{{item.link}}</a></td>
                            <td>{{item.link_price}}</td>
                            <td><img ng-src="{{item.holder_image}}" alt=""></td>
                            <td>{{item.title_value}}</td>
                            <td>{{item.block_value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="x-modal-on-right tac">
                <div class="x-build-card-item middle">
                    <figure class="x-build-card-item-upload">
                        <img ng-src="{{vars.checkImage2 ? vars.table.body[0].holder_image: 'i/card.jpg'}}" alt="">
                    </figure>

                    <textarea class="mar-b5 x-form-textarea_title" style="overflow: hidden; word-wrap: break-word; resize: none; height: 40px;pointer-events: none;">{{vars.checkImage3 ? vars.table.body[0].title_value: 'Lorem ipsum dolor.'}}</textarea>
                    <textarea class="mar-b5 x-form-textarea_subtitle" style="overflow: hidden; word-wrap: break-word; resize: none; height: 40px;pointer-events: none;">{{vars.checkImage1 ? vars.table.body[0].link_price: '000'}}</textarea>

                    <input type="text" class="x-form-input_url mar-t5" maxlength="20" placeholder="Url">


                    <div class="x-build-card-item-footer">
                        <button class="x-btn-o c1" ng-class="vars.checkImage ? 'c1': 'inactive'"><span ng-class="vars.checkImage || vars.checkImage1 || vars.checkImage2 || vars.checkImage3 || vars.checkImage4 ? 'c1': ''">Buy Now</span></button>
                    </div>
                </div>

                <br>

                <button class="x-btn-b_blue" ng-click="openModal('');CallMe();">Done</button>
            </div>
        </div>
    </scrollable>



    <scrollable class="x-build-testBot" ng-class="{active: openModalN == 11}">
        <div class="x-build-testBot-content">
            <button class="x-modal-close-x" style="right: 0;top: 0;" ng-click="openModal('')">+</button>


            <div ng-show="isTab(11)" class="h100p">
                <scrollable>
                    <div class="x-chat-win-item x-repeat from">
                        <div class="x-chat-win-item-text ">
                            <h2>
                                Lorem ipsum dolor sit amet,
                                <br>consectetur adipisicing
                                elit. Possimus, sint?

                                <span>10:10:10 PM</span>
                            </h2>
                        </div>
                    </div>
                    <div class="x-chat-win-item x-repeat to">
                        <div class="x-chat-win-item-text ">
                            <h2>
                                Lorem ipsum dolor sit amet,
                                <br>consectetur adipisicing
                                elit. Possimus, sint?

                                <span>10:10:10 PM</span>
                            </h2>
                        </div>
                    </div>
                    <div class="x-chat-win-item x-repeat from">
                        <div class="x-chat-win-item-text ">
                            <h2>
                                Lorem ipsum dolor sit amet,
                                <br>consectetur adipisicing
                                elit. Possimus, sint?

                                <span>10:10:10 PM</span>
                            </h2>
                        </div>
                    </div>
                    <div class="x-chat-win-item x-repeat to">
                        <div class="x-chat-win-item-text ">
                            <h2>
                                Lorem ipsum dolor sit amet,
                                <br>consectetur adipisicing
                                elit. Possimus, sint?

                                <span>10:10:10 PM</span>
                            </h2>
                        </div>
                    </div>
                    <div class="x-chat-win-item x-repeat from">
                        <div class="x-chat-win-item-text ">
                            <h2>
                                Lorem ipsum dolor sit amet,
                                <br>consectetur adipisicing
                                elit. Possimus, sint?

                                <span>10:10:10 PM</span>
                            </h2>
                        </div>
                    </div>
                    <div class="x-chat-win-item x-repeat to">
                        <div class="x-chat-win-item-text ">
                            <h2>
                                Lorem ipsum dolor sit amet,
                                <br>consectetur adipisicing
                                elit. Possimus, sint?

                                <span>10:10:10 PM</span>
                            </h2>
                        </div>
                    </div>
                </scrollable>



                <div class="x-chat-win-send wp-btw-cen pad15">
                    <div class="x-chat-win-send-input no-mar">
                        <input type="text" class="x-form-input">
                        <label class="x-chat-win-send-input-add">
                            <input type="file">
                            <i class="fa fa-paperclip" aria-hidden="true"></i>
                        </label>
                    </div>
                    <button ng-click="sendMessage()" class="x-btn-big no-mar">send</button>
                </div>
            </div>
        </div>
    </scrollable>

    <scrollable class="x-modal_dark fixed" ng-show="openModalN == 10">
        <div class="x-wrap relative h100p">
            <div class="x-modal-close-wrap" ng-click="openModal('')"></div>

            <div class="x-modal-box_s tac">
                <h2 class="x-h3-dark">Do You really want to delete <b>Send now</b> block?</h2>
                <div class="pad-v30"></div>
                <button class="x-btn_o mar-h5" ng-click="openModal('')">Cancel</button>
                <button class="x-btn_blue mar-h5" ng-click="removeBroadcasting(0);removeBroadcasting2(0);removeBroadcasting3(0);openModal('');">ok</button>
            </div>
        </div>
    </scrollable>



    <scrollable class="x-modal_dark" ng-show="openModalN == 2">
        <div class="x-modal-close-wrap" ng-click="openModal('')"></div>

        <div class="x-modal-box_b tac pad35">
            <button class="x-modal-close-x" ng-click="openModal('')">+</button>
            <h2 class="x-h3-dark tal">Add new module</h2>
            <p class="x-p-dark tal mar-t20">Lorem ipsum dolor sit amet.</p>
            <div class="tal mar-t10">
                <button ng-click="openModal(0)" class="x-btn-box c1b9bW no-mar mar-r15 mar-b10" ng-repeat="i in [0,1,2,3,4,5,6]">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <span>deploy to messenger</span>
                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                </button>
            </div>
            <p class="x-p-dark tal mar-t20">Lorem ipsum dolor sit amet.</p>
            <div class="tal mar-t10">
                <button ng-click="openModal(0)" class="x-btn-box c1b9bW no-mar mar-r15 mar-b10" ng-repeat="i in [0,1,2,3,4,5,6]">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <span>deploy to messenger</span>
                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </scrollable>

    <!------------------------------------------------------------->

    <scrollable class="x-modal_dark" ng-show="openModalN == 15">
        <div class="x-modal-close-wrap" ng-click="openModal('')"></div>

        <div class="x-modal-box_b tac">
            <button class="x-modal-close-x" ng-click="openModal('')">+</button>

            <div class="x-modal-wrap">
                <h2 class="x-h3-dark">Add new module</h2>
                <p class="x-p-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus doloremque did illum iure iusto magnam magni, necessitatibus nobis nostrum nulla possimus totam.</p>

                <div class="x-steps wp-btw first">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                </div>
            </div>

            <div class="x-modal-wrap_s mar-t20">
                <scrollable class="x-modal-list">
                    <div class="x-modal-list-item pad-r10 wp-btw-cen" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]" ng-click="openModal(15.1)">
                        <div class="wp-btw-cen">
                            <figure class="x-modal-list-item-figure">
                                <img src="i/robot.png" alt="">
                            </figure>

                            <div class="x-modal-list-item-info">
                                <h2 class="$c9">Lorem ipsum dolor.</h2>
                                <p class="c1">848924984984829842</p>
                            </div>
                        </div>

                        <button class="x-btn_green"><span>webhook</span></button>
                    </div>
                </scrollable>
            </div>
        </div>
    </scrollable>

    <scrollable class="x-modal_dark" ng-show="openModalN == 15.1">
        <div class="x-modal-close-wrap" ng-click="openModal('')"></div>

        <div class="x-modal-box_b tac">
            <button class="x-modal-close-x" ng-click="openModal('')">+</button>


            <div class="x-modal-wrap_s">
                <h2 class="x-h3-dark mar-b20">Now lets configure your app</h2>
                <div class="x-info c1b4b6">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>

                <div class="x-info c1b4b6">
                    <div class="x-info-facebook wp-btw">
                        <figure class="x-info-facebook-img"><img src="http://dummyimage.com/200x200/c7c7c7/000000" alt=""></figure>

                        <div class="x-info-facebook-text">
                            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet magnam perferendis possimus quod. Dolorum.</h2>
                            <p class="mar-t10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi earum impedit odit possimus praesentium quisquam.</p>

                            <button ng-click="openModal(15.2)" class="x-btn_green_b mar-t25 borr20 pad-h30"><span>next</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </scrollable>

    <scrollable class="x-modal_dark" ng-show="openModalN == 15.2">
        <div class="x-modal-close-wrap" ng-click="openModal('')"></div>

        <div class="x-modal-box_b tac">
            <button class="x-modal-close-x" ng-click="openModal('')">+</button>

            <div class="x-modal-wrap">
                <h2 class="x-h3-dark">Add new module</h2>

                <div class="x-steps wp-btw third">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                </div>
            </div>


            <div class="x-modal-wrap_s">
                <div class="x-info c1b4b6 tal">
                    <h2 class="x-info-h2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, dolorem?</h2>
                    <div class="x-info-empty mar-v20"></div>
                    <p class="x-info-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, voluptas.</p>
                    <div class="x-info-link">Lorem ipsum dolor sit.</div>
                    <p class="x-info-p">Lorem ipsum dolor sit <b>amet</b>, consectetur adipisicing elit. Quos, voluptas.</p>
                    <div class="x-info-link">Lorem ipsum dolor sit.</div>
                    <h2 class="x-info-h2">Lorem <a href="">ipsum</a> dolor sit amet, consectetur adipisicing elit. Blanditiis, dolorem?</h2>
                    <button ng-click="openModal(15.3)" class="x-btn_green_b mar-t25 borr20 pad-h30"><span>next</span></button>
                </div>
            </div>
        </div>
    </scrollable>

    <scrollable class="x-modal_dark" ng-show="openModalN == 15.3">
        <div class="x-modal-close-wrap" ng-click="openModal('')"></div>

        <div class="x-modal-box_b tac">
            <button class="x-modal-close-x" ng-click="openModal('')">+</button>

            <div class="x-modal-wrap">
                <h2 class="x-h3-dark">Add new module</h2>

                <div class="x-steps wp-btw fourth">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                </div>
            </div>


            <div class="x-modal-wrap_s">
                <div class="x-info c1b4b6 tal">
                    <h2 class="x-info-h2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, dolorem?</h2>
                    <div class="x-info-empty_b mar-v20"></div>
                    <h2 class="x-info-h2 mar-b10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, dolorem?</h2>

                    <input type="text" class="x-form-input" placeholder="Lorem consectetur">

                    <p class="x-info-p"><b>Lorem ipsum</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, reiciendis. dolor sit amet, consectetur adipisicing elit. Quos, voluptas.</p>

                    <button ng-click="openModal('')" class="x-btn_green_b mar-t25 borr20 pad-h30"><span>Continue</span></button>
                </div>
            </div>
        </div>
    </scrollable>
































    <!--<scrollable class="x-modal_dark" ng-show="openModalN == 4">-->
    <!--<div class="x-modal-close-wrap" ng-click="openModal('')"></div>-->

    <!--<div class="x-modal-box_b tac">-->
    <!--<div class="x-modal-in" ng-class="{active:vars.openModalInside}">-->
    <!--<div class="x-modal-close-wrap" ng-click="vars.openModalInside = !vars.openModalInside;"></div>-->
    <!--<div class="x-modal-in-box">-->
    <!--<form class="x-form">-->
    <!--<h2 class="no-mar">Lorem ipsum.</h2>-->
    <!--<input type="text" class="x-form-input mar-t5">-->
    <!--<h2 class="no-mar pad-t10">Lorem ipsum.</h2>-->
    <!--<input type="text" class="x-form-input mar-t5">-->
    <!--<button ng-click="vars.openModalInside = !vars.openModalInside;openModal('');addNewBox();" class="x-btn-big mar-t10">Lorem ipsum dolor sit.</button>-->
    <!--</form>-->
    <!--</div>-->
    <!--</div>-->

    <!--<button class="x-modal-close-x" ng-click="openModal('')">+</button>-->

    <!--<div class="x-modal-wrap mar-b30">-->
    <!--<h2 class="x-h3-dark tal">Add new module</h2>-->
    <!--<p class="x-p-dark tal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus doloremque did illum iure iusto magnam magni, necessitatibus nobis nostrum nulla possimus totam.</p>-->
    <!--</div>-->

    <!--<scrollable style="height: 300px;">-->
    <!--<div class="x-module" ng-repeat="i in [0,1,2,3,4,5]">-->
    <!--<span class="x-module-img"><img src="i/icons/commerceIcon@2x.png" alt=""></span>-->
    <!--<span class="x-module-text">-->
    <!--<span class="x-module-text-h2">Lorem ipsum. <i class="fa fa-question-circle-o" aria-hidden="true"></i></span>-->
    <!--<span class="x-module-text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, sunt.</span>-->
    <!--</span>-->


    <!--<button ng-click="vars.openModalInside = !vars.openModalInside" class="x-module-radio x-btn_blue">Lorem</button>-->
    <!--</div>-->
    <!--</scrollable>-->

    <!--&lt;!&ndash;<div class="tac">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="x-modal-pages">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<button ng-class="{inactive: openModalN==1}" ng-click="openModal(openModalN-1)"><i class="fa fa-angle-left" aria-hidden="true"></i></button>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<span>page {{openModalN}}</span>&ndash;&gt;-->
    <!--&lt;!&ndash;<button ng-click="openModal(4.1)"><i class="fa fa-angle-right" aria-hidden="true"></i></button>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--</scrollable>-->

    <!--<scrollable class="x-modal_dark" ng-show="openModalN == 6">-->
    <!--<div class="x-modal-close-wrap" ng-click="openModal('')"></div>-->

    <!--<div class="x-modal-box_b tac">-->
    <!--<button class="x-modal-close-x" ng-click="openModal('')">+</button>-->

    <!--<div class="x-modal-wrap">-->
    <!--<h2 class="x-h3-dark tal mar-b20">Lorem ipsum. (213)</h2>-->

    <!--<div class="x-tabs tal">-->
    <!--<button ng-click="setTab(3)" ng-class="{active : isTab(3)}" class="x-btn-under h8vh active"><i class="fa fa-cog" aria-hidden="true"></i><span>Lorem ipsum</span></button>-->
    <!--<button ng-click="setTab(4)" ng-class="{active : isTab(4)}" class="x-btn-under h8vh"><i class="fa fa-link" aria-hidden="true"></i><span>Loremum</span></button>-->
    <!--<button ng-click="setTab(5)" ng-class="{active : isTab(5)}" class="x-btn-under h8vh"><i class="fa fa-cube" aria-hidden="true"></i><span>Loremum</span></button>-->
    <!--</div>-->

    <!--<div class="pad-t20 relative">-->
    <!--<div ng-show="isTab(3)" class="x-tabanim">-->
    <!--<div class="x-form w100p">-->
    <!--<h2>Lorem ipsum dolor. <span>Lorem ipsum dolor sit.</span></h2>-->
    <!--<input type="text" placeholder="Lorem ipsum dolor." class="x-form-input" placeholder="Email Address">-->

    <!--<h2>Lorem ipsum dolor. <span>Lorem ipsum dolor sit.</span></h2>-->
    <!--<input type="text" placeholder="Lorem ipsum dolor." class="x-form-input" placeholder="Email Address">-->

    <!--<h2>Lorem ipsum dolor. <span>Lorem ipsum dolor sit.</span></h2>-->
    <!--<textarea placeholder="Lorem ipsum dolor." class="x-form-textarea"></textarea>-->
    <!--<a href="" class="x-form-link c1">Lorem ipsum dolor.</a>-->

    <!--<h2>Lorem ipsum dolor. <span>Lorem ipsum dolor sit.</span></h2>-->
    <!--<textarea placeholder="Lorem ipsum dolor." class="x-form-textarea"></textarea>-->
    <!--<a href="" class="x-form-link c1">Lorem ipsum dolor.</a>-->

    <!--<div class="wp-btw mar-t50">-->
    <!--<label class="x-checkbox">-->
    <!--<input type="checkbox">-->
    <!--<i></i>-->
    <!--<span>Lorem ipsum dolor sit amet.</span>-->
    <!--</label>-->

    <!--<div>-->
    <!--<button class="x-btn_o" ng-click="openModal('')">Close</button>-->
    <!--<button class="x-btn_blue">Save changes</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div ng-show="isTab(4)" class="x-tabanim">-->
    <!--<div class="x-info c1b4b6" ng-show="connections.length < 1">-->
    <!--Lorem ipsum dolor sit amet.-->
    <!--</div>-->

    <!--<div class="x-connection" ng-repeat="connection in connections">-->
    <!--<div class="x-connection-if">if</div>-->
    <!--<button class="x-modal-close-x" ng-click="removeConnection($index)">+</button>-->

    <!--<div class="x-connection-row">-->
    <!--<button class="x-btn-drag_o"><span>Lorem ipsum dolor sit.</span> <i class="fa fa-arrows" aria-hidden="true"></i></button>-->
    <!--<i class="fa fa-question-circle mar-h15" aria-hidden="true"></i>-->
    <!--<button class="x-btn-drag"><span>Lorem</span> <i class="fa fa-arrows" aria-hidden="true"></i></button>-->
    <!--</div>-->

    <!--<div class="x-connection-row">-->
    <!--<tags-input class="x-tags_w" ng-model="tags"></tags-input>-->
    <!--</div>-->

    <!--<div class="x-connection-row wp-btw">-->
    <!--<div>-->
    <!--<span>Lorem ipsum dolor.</span>-->
    <!--<button class="x-btn-drag"><span>Lorem ipsum dolor sit.</span> <i class="fa fa-arrows" aria-hidden="true"></i></button>-->
    <!--<button class="x-btn-o mar-h15 c1"><i class="fa fa-pencil" aria-hidden="true"></i></button>-->
    <!--</div>-->

    <!--<button class="x-btn_green"><i>+</i> <span>webhook</span></button>-->
    <!--</div>-->
    <!--</div>-->




    <!--<div class="x-connection">-->
    <!--<button class="x-modal-close-x">+</button>-->

    <!--<div class="x-connection-row wp-btw-cen">-->
    <!--<div>-->
    <!--<p>Lorem ipsum dolor. Lorem <b>ipsum</b> dolor.</p>-->
    <!--<button class="x-btn-drag"><span>Lorem ipsum dolor sit.</span> <i class="fa fa-arrows" aria-hidden="true"></i></button>-->
    <!--<button class="x-btn-o mar-h15 c1"><i class="fa fa-pencil" aria-hidden="true"></i></button>-->
    <!--</div>-->

    <!--<button class="x-btn_green_b"><i>+</i> <span>webhook</span></button>-->
    <!--</div>-->
    <!--</div>-->





    <!--<button class="x-btn-big_s" ng-click="addConnection()"><i>+</i><span>add group</span></button>-->

    <!--<div class="x-info c1b4b6 wp-btw-cen" ng-show="connections.length < 1">-->
    <!--<b>Fallback</b>-->
    <!--<span>Lorem ipsum dolor sit amet.</span>-->
    <!--<div class="x-info-box">-->
    <!--Lorem ipsum dolor sit.-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="wp-btw mar-t50">-->
    <!--<label class="x-checkbox">-->
    <!--<input type="checkbox">-->
    <!--<i></i>-->
    <!--<span>Lorem ipsum dolor sit amet.</span>-->
    <!--</label>-->

    <!--<div>-->
    <!--<button class="x-btn_o" ng-click="openModal('')">Close</button>-->
    <!--<button class="x-btn_blue">Save changes</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div ng-show="isTab(5)" class="x-tabanim">-->
    <!--<div class="x-info c1b4b6">-->
    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
    <!--</div>-->

    <!--<div class="x-card" ng-repeat="card in cards">-->
    <!--<div class="x-card-left">-->
    <!--<figure>-->
    <!--<img src="http://dummyimage.com/100x100/fff/000" alt="">-->

    <!--<figcaption>-->
    <!--<input type="file">-->
    <!--<i class="fa fa-upload" aria-hidden="true"></i>-->
    <!--</figcaption>-->
    <!--</figure>-->
    <!--<input type="text" class="x-form-input err" placeholder="lore consectetur">-->
    <!--<input type="text" class="x-form-input" placeholder="lore consectetur">-->
    <!--<input type="text" class="x-form-input" placeholder="lore consectetur">-->

    <!--<div class="x-card-left-footer">-->
    <!--<button class="x-btn-o pad-v15 c1"><i>+</i><span>add button</span></button>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="x-card-right">-->
    <!--<button class="x-card-create"><img src="i/icons/sircle_plus.png" alt=""></button>-->
    <!--</div>-->
    <!--</div>-->

    <!--<button class="x-btn-big_s" ng-click="addCard()"><i>+</i><span>add group</span></button>-->

    <!--<div class="wp-btw mar-t50">-->
    <!--<label class="x-checkbox">-->
    <!--<input type="checkbox">-->
    <!--<i></i>-->
    <!--<span>Lorem ipsum dolor sit amet.</span>-->
    <!--</label>-->

    <!--<div>-->
    <!--<button class="x-btn_o" ng-click="openModal('')">Close</button>-->
    <!--<button class="x-btn_blue">Save changes</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</scrollable>-->
</div>
