<div class="x-conv h100p">
    <header class="x-header-db" ng-include="'views/particles/dbHeader.html'"></header>

    <div class="x-chat wp-btw h92p">
        <scrollable class="x-chat-aside">
            <div class="x-chat-aside-item withoutHover">
                <a href="#/conversation" class="x-btn-big_s">
                    <i class="fa fa-archive" aria-hidden="true"></i>
                    <span>archive all</span>
                </a>
            </div>


            <div class="x-chat-aside-item active wp-btw-cen">
                <a href="#" class="x-user-link">
                    <img src="i/icons/logoIcon.jpg" alt="">
                    <span></span>
                </a>

                <div class="x-chat-aside-item-info">
                    <h2>From : <span>Bale</span></h2>
                    <h2>To : <span>Commerce BOT</span></h2>
                </div>

                <a class="x-chat-aside-item-api">api</a>
            </div>

            <div class="x-chat-aside-item wp-btw-cen">
                <a href="#" class="x-user-link">
                    <img src="i/icons/logoIcon.jpg" alt="">
                    <span></span>
                </a>

                <div class="x-chat-aside-item-info">
                    <h2>From : <span>Bale</span></h2>
                    <h2>To : <span>Commerce BOT</span></h2>
                </div>

                <a class="x-chat-aside-item-api">api</a>
            </div>

            <div class="x-chat-aside-item wp-btw-cen">
                <a href="#" class="x-user-link">
                    <img src="i/icons/logoIcon.jpg" alt="">
                    <span></span>
                </a>

                <div class="x-chat-aside-item-info">
                    <h2>From : <span>Bale</span></h2>
                    <h2>To : <span>Commerce BOT</span></h2>
                </div>

                <a class="x-chat-aside-item-api">api</a>
            </div>

            <div class="x-chat-aside-item wp-btw-cen">
                <a href="#" class="x-user-link">
                    <img src="i/icons/logoIcon.jpg" alt="">
                    <span></span>
                </a>

                <div class="x-chat-aside-item-info">
                    <h2>From : <span>Bale</span></h2>
                    <h2>To : <span>Commerce BOT</span></h2>
                </div>

                <a class="x-chat-aside-item-api">api</a>
            </div>

            <div class="x-chat-aside-item wp-btw-cen">
                <a href="#" class="x-user-link">
                    <img src="i/icons/logoIcon.jpg" alt="">
                    <span></span>
                </a>

                <div class="x-chat-aside-item-info">
                    <h2>From : <span>Bale</span></h2>
                    <h2>To : <span>Commerce BOT</span></h2>
                </div>

                <a class="x-chat-aside-item-api">api</a>
            </div>

            <div class="x-chat-aside-item wp-btw-cen">
                <a href="#" class="x-user-link">
                    <img src="i/icons/logoIcon.jpg" alt="">
                    <span></span>
                </a>

                <div class="x-chat-aside-item-info">
                    <h2>From : <span>Bale</span></h2>
                    <h2>To : <span>Commerce BOT</span></h2>
                </div>

                <a class="x-chat-aside-item-api">api</a>
            </div>

            <div class="x-chat-aside-item wp-btw-cen">
                <a href="#" class="x-user-link">
                    <img src="i/icons/logoIcon.jpg" alt="">
                    <span></span>
                </a>

                <div class="x-chat-aside-item-info">
                    <h2>From : <span>Bale</span></h2>
                    <h2>To : <span>Commerce BOT</span></h2>
                </div>

                <a class="x-chat-aside-item-api">api</a>
            </div>

            <div class="x-chat-aside-item wp-btw-cen">
                <a href="#" class="x-user-link">
                    <img src="i/icons/logoIcon.jpg" alt="">
                    <span></span>
                </a>

                <div class="x-chat-aside-item-info">
                    <h2>From : <span>Bale</span></h2>
                    <h2>To : <span>Commerce BOT</span></h2>
                </div>

                <a class="x-chat-aside-item-api">api</a>
            </div>
        </scrollable>

        <div class="x-chat-win">
            <scrollable class="x-chat-win-mes">
                <div class="x-chat-win-item from">
                    <div class="x-chat-win-item-img">
                        <img src="i/icons/commerceIcon@2x.png" alt="">
                        <span>10:10:10 PM</span>
                    </div>
                </div>
                <div class="x-chat-win-item x-repeat" ng-class="$index % 2 ? 'from' : 'to'" ng-repeat="i in chatMessages">
                    <div class="x-chat-win-item-ava" ng-hide="$index % 2">
                        <a href="#" class="x-user-link">
                            <img src="i/icons/logoIcon.jpg" alt="">
                            <span></span>
                        </a>
                    </div>
                    <div class="x-chat-win-item-text sended">
                        <h2>
                            Lorem ipsum dolor sit amet,
                            <br>consectetur adipisicing
                            elit. Possimus, sint?

                            <span>10:10:10 PM</span>
                        </h2>
                    </div>
                </div>
            </scrollable>

            <div class="x-chat-win-send wp-btw-cen">
                <div class="x-chat-win-send-input">
                    <input type="text" class="x-form-input">
                    <label class="x-chat-win-send-input-add">
                        <input type="file">
                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                    </label>
                </div>
                <button ng-click="sendMessage()" class="x-btn-big">send</button>
            </div>
        </div>
    </div>
</div>
