<div class="x-db" ng-intro-options="IntroOptions" ng-intro-method="CallMe" ng-intro-autostart="ShouldAutoStart">
    <header class="x-header-db" ng-include="'views/particles/dbHeader.html'"></header>

    <scrollable class="h92p">
        <div class="x-wrap-in tac">
            <div class="x-db-search">
                <h3 class="x-h3-dark">What do you want to name the chatbot?</h3>
                <input class="x-form-input" type="text" ng-model="vars.createBot">
                <h4 class="x-h4">You can change this to anything later</h4>
            </div>

            <div class="x-db-templates">
                <h3 class="x-h3-dark">Choose the use-case</h3>

                <div class="w100p" id="step3">
                    <label class="x-db-templates_check mar-r30">
                        <input type="radio" ng-model="vars.radioItem" ng-value="1">
                        <span class="x-db-templates-item">
                            <span><img src="i/commerce.png" style="height: 28px;vertical-align: middle;" alt=""></span>
                            <h2>Ecommerce</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, maiores!</p>
                        </span>
                    </label>

                    <label class="x-db-templates_check mar-r30">
                        <input type="radio" ng-model="vars.radioItem" ng-value="2">
                        <span class="x-db-templates-item">
                            <span><img src="i/support.png" style="height: 28px;vertical-align: middle;" alt=""></span>
                            <h2>Customer Support</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, maiores!</p>
                        </span>
                    </label>
                </div>
            </div>
            <a href="#/build" id="step4" ng-click="vars.radioItem == 1 ? openModal(12): ''" class="x-db-btn" ng-class="vars.createBot.length > 0 && vars.radioItem >= 0 ? 'x-btn-b_blue' : 'x-btn_gray inactive'">Create bot</a>
            <!--<button ng-click="openModal(3)">olollo</button>-->
        </div>
    </scrollable>
</div>



<!--<scrollableiv class="x-modal_dark fixed" ng-show="openModalN == 1">-->
    <!--<div class="x-wrap relative h100p">-->
        <!--<div class="x-modal-close-wrap" ng-click="openModal('')"></div>-->

        <!--<div class="x-modal-box_l wp-btw tac">-->
            <!--<h2 class="x-h3-dark w100p tac">Lorem ipsum dolor.</h2>-->

            <!--<a ng-click="openModal('')" class="x-modal-box-item">-->
                <!--<img src="i/icons/phone@2x.png" alt="">-->
                <!--<h2>Lorem.</h2>-->
            <!--</a>-->
            <!--<a ng-click="openModal('')" class="x-modal-box-item">-->
                <!--<img src="i/icons/phone@2x.png" alt="">-->
                <!--<h2>Lorem.</h2>-->
            <!--</a>-->
            <!--<a ng-click="openModal('')" class="x-modal-box-item">-->
                <!--<img src="i/icons/phone@2x.png" alt="">-->
                <!--<h2>Lorem.</h2>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</scrollableiv>-->

<scrollable class="x-modal_dark" ng-show="openModalN == 3">
    <div class="x-modal-close-wrap" ng-click="openModal('')"></div>

    <div class="x-modal-box_b tac">
        <button class="x-modal-close-x" ng-click="openModal('')">+</button>

        <div class="x-modal-wrap">
            <h2 class="x-modal-h2 tal mar-b20">Lorem ipsum. (213) <span class="x-modal-h2-help">Help</span></h2>
            <div class="x-info c1b4b6">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>
            <div class="x-form mar-v30">
                <h2>Lorem ipsum dolor. <span>Lorem ipsum dolor sit.</span></h2>
                <input type="text" placeholder="Lorem ipsum dolor." class="x-form-input" placeholder="Email Address">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, perspiciatis.</p>
            </div>

            <div class="x-info c1b4b6">
                <div class="x-form-ques">
                    <h2>Lorem.</h2>
                    <div class="x-form-ques-input">
                        <span>Lorem ipsum dolor sit.</span>
                        <input type="text">
                        <button>Delete</button>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda beatae consectetur culpa fuga, incidunt nihil officia rem similique voluptatum.</p>



                    <h2>Lorem.</h2>
                    <label class="x-select-big">
                        <select>
                            <option value="1">Lorem ipsum.</option>
                            <option value="2">Lorem ipsum.</option>
                        </select>
                        <i class="fa fa-arrows-v" aria-hidden="true"></i>
                    </label>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda beatae consectetur culpa fuga, incidunt nihil officia rem similique voluptatum.</p>

                    <h2>lorem. <span>Lorem.</span></h2>
                    <div class="wp-btw">
                        <div class="wp-btw-cen fl-flex1">
                            <input type="text" class="x-form-input_48w no-mar err" placeholder="E-mail">
                            <input type="text" class="x-form-input_48w no-mar err" placeholder="Password">
                        </div>

                        <button class="x-btn-o c8 pad-h15">Delete</button>
                    </div>
                    <p class="c8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda beatae consectetur culpa fuga, incidunt nihil officia rem similique voluptatum.</p>
                </div>
            </div>

            <div class="tal mar-v30">
                <button class="x-btn_o_big mar-r15"><i>+</i> <span>Lorem ipsum</span></button>
                <button class="x-btn_o_big"><i>+</i> <span>Lorem ipsum</span></button>
            </div>

            <div class="x-modal-footer pad-t30 wp-btw">
                <button class="x-btn_o inactive">prev</button>
                <button class="x-btn_blue" ng-click="openModal(3.1)">next</button>
            </div>
        </div>
    </div>
</scrollable>

<scrollable class="x-modal_dark" ng-show="openModalN == 3.1">
    <div class="x-modal-close-wrap" ng-click="openModal('')"></div>

    <div class="x-modal-box_b tac">
        <button class="x-modal-close-x" ng-click="openModal('')">+</button>

        <div class="x-modal-wrap">
            <h2 class="x-modal-h2 tal mar-b20">Lorem ipsum. (213) <span class="x-modal-h2-help">Help</span></h2>
            <div class="x-info c1b4b6 tal">
                <div class="pad-h60">
                    <p class="x-info-p">Lorem ipsum dolor sit <b>adipisicing</b>, consectetur adipisicing elit.</p>

                    <div class="mar-t30">
                        <p class="x-info-p" ng-repeat="i in [0,1,2,3,4]">{{$index}}. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>

            <div class="x-modal-footer pad-t30 tar">
                <button class="x-btn_blue" ng-click="openModal(3.2)">Done</button>
            </div>
        </div>
    </div>
</scrollable>

<scrollable class="x-modal_dark" ng-show="openModalN == 3.2">
    <div class="x-modal-close-wrap" ng-click="openModal('')"></div>

    <div class="x-modal-box_b tac">
        <button class="x-modal-close-x" ng-click="openModal('')">+</button>

        <div class="x-modal-wrap">
            <h2 class="x-h3-dark">Add new module</h2>
            <p class="x-p-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus doloremque did illum iure iusto magnam magni, necessitatibus nobis nostrum nulla possimus totam.</p>

            <div class="x-steps wp-btw first">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
            </div>
        </div>

        <div class="x-modal-wrap_s">
            <scrollable class="x-modal-list">
                <div class="x-modal-list-item pad-r10 wp-btw-cen" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]" ng-click="openModal(3.3)">
                    <div class="wp-btw-cen">
                        <figure class="x-modal-list-item-figure">
                            <img src="i/robot.png" alt="">
                        </figure>

                        <div class="x-modal-list-item-info">
                            <h2 class="$c9">Lorem ipsum dolor.</h2>
                            <p class="c1">848924984984829842</p>
                        </div>
                    </div>

                    <button class="x-btn_green"><span>webhook</span></button>
                </div>
            </scrollable>
        </div>
    </div>
</scrollable>

<scrollable class="x-modal_dark" ng-show="openModalN == 3.3">
    <div class="x-modal-close-wrap" ng-click="openModal('')"></div>

    <div class="x-modal-box_b tac">
        <button class="x-modal-close-x" ng-click="openModal('')">+</button>

        <div class="x-modal-wrap">
            <h2 class="x-h3-dark">Add new module</h2>

            <div class="x-steps wp-btw second">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
            </div>
        </div>


        <div class="x-modal-wrap_s">
            <div class="x-info c1b4b6">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>

            <div class="x-info c1b4b6">
                <div class="x-info-facebook wp-btw">
                    <figure class="x-info-facebook-img"><img src="http://dummyimage.com/200x200/c7c7c7/000000" alt=""></figure>

                    <div class="x-info-facebook-text">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet magnam perferendis possimus quod. Dolorum.</h2>
                        <p class="mar-t10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi earum impedit odit possimus praesentium quisquam.</p>

                        <button ng-click="openModal(3.4)" class="x-btn_green_b mar-t25 borr20 pad-h30"><span>next</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</scrollable>

<scrollable class="x-modal_dark" ng-show="openModalN == 3.4">
    <div class="x-modal-close-wrap" ng-click="openModal('')"></div>

    <div class="x-modal-box_b tac">
        <button class="x-modal-close-x" ng-click="openModal('')">+</button>

        <div class="x-modal-wrap">
            <h2 class="x-h3-dark">Add new module</h2>

            <div class="x-steps wp-btw third">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
            </div>
        </div>


        <div class="x-modal-wrap_s">
            <div class="x-info c1b4b6 tal">
                <h2 class="x-info-h2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, dolorem?</h2>
                <div class="x-info-empty mar-v20"></div>
                <p class="x-info-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, voluptas.</p>
                <div class="x-info-link">Lorem ipsum dolor sit.</div>
                <p class="x-info-p">Lorem ipsum dolor sit <b>amet</b>, consectetur adipisicing elit. Quos, voluptas.</p>
                <div class="x-info-link">Lorem ipsum dolor sit.</div>
                <h2 class="x-info-h2">Lorem <a href="">ipsum</a> dolor sit amet, consectetur adipisicing elit. Blanditiis, dolorem?</h2>
                <button ng-click="openModal(3.5)" class="x-btn_green_b mar-t25 borr20 pad-h30"><span>next</span></button>
            </div>
        </div>
    </div>
</scrollable>

<scrollable class="x-modal_dark" ng-show="openModalN == 3.5">
    <div class="x-modal-close-wrap" ng-click="openModal('')"></div>

    <div class="x-modal-box_b tac">
        <button class="x-modal-close-x" ng-click="openModal('')">+</button>

        <div class="x-modal-wrap">
            <h2 class="x-h3-dark">Add new module</h2>

            <div class="x-steps wp-btw fourth">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
            </div>
        </div>


        <div class="x-modal-wrap_s">
            <div class="x-info c1b4b6 tal">
                <h2 class="x-info-h2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, dolorem?</h2>
                <div class="x-info-empty_b mar-v20"></div>
                <h2 class="x-info-h2 mar-b10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, dolorem?</h2>

                <input type="text" class="x-form-input" placeholder="Lorem consectetur">

                <p class="x-info-p"><b>Lorem ipsum</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, reiciendis. dolor sit amet, consectetur adipisicing elit. Quos, voluptas.</p>

                <button ng-click="openModal('')" class="x-btn_green_b mar-t25 borr20 pad-h30"><span>Continue</span></button>
            </div>
        </div>
    </div>
</scrollable>
