<div class="x-db">
    <header class="x-header-db" ng-include="'views/particles/dbHeader.html'"></header>

    <scrollable class="h92p">
        <div class="x-wrap-in">
            <div class="mar-v20">
                <ob-daterangepicker range="vm.range" class="right"></ob-daterangepicker>
            </div>

            <div class="mar-v20 wp-btw">
                <div class="x-db-item" >
                    <h2 class="x-db-item-h2">Daily active users</h2>
                    <h2 class="x-db-item-num">10k</h2>
                    <h2 class="x-db-item-info">vs.200 (+3%)</h2>
                    <h2 class="x-db-item-info">Last week</h2>
                </div>

                <div class="x-db-item" >
                    <h2 class="x-db-item-h2">New users</h2>
                    <h2 class="x-db-item-num">1k</h2>
                    <h2 class="x-db-item-info">vs.200 (+3%)</h2>
                    <h2 class="x-db-item-info">Last week</h2>
                </div>
                <div class="x-db-item" >
                    <h2 class="x-db-item-h2">Total Orders</h2>
                    <h2 class="x-db-item-num">1,2525</h2>
                    <h2 class="x-db-item-info">vs.200 (+3%)</h2>
                    <h2 class="x-db-item-info">Last week</h2>
                </div>
                <div class="x-db-item">
                    <h2 class="x-db-item-h2">Total Messages</h2>
                    <highchart class="dib mar-t10" config="chart1"></highchart>
                </div>
            </div>



            <div class="x-db-chart mar-v20 pad-h30">
                <div class="x-db-chart-info">
                    <div class="x-db-chart-info-item mar-r40">
                        <h2>TOTAL THIS WEEK</h2>
                        <h3><b>25</b> <span>Lorem.</span></h3>
                    </div>
                    <div class="x-db-chart-info-item mar-r40">
                        <h2>SENT</h2>
                        <h3><b>25</b></h3>
                    </div>
                    <div class="x-db-chart-info-item">
                        <h2>RECEIVED</h2>
                        <h3><b>25</b></h3>
                    </div>
                </div>
                <highchart class="db w100p" config="chart3"></highchart>
            </div>
        </div>
    </scrollable>
</div>



<scrollable class="x-modal_dark fixed" ng-show="openModalN == 1">
    <div class="x-wrap relative h100p">
        <div class="x-modal-close-wrap" ng-click="openModal('')"></div>

        <div class="x-modal-box_s tac">
            <h2 class="x-h3-dark">You don't have any bots - yet!</h2>
            <h3 class="x-h3">
                Check out our <a href="">Getting Started Guide</a>
            </h3>
            <a href="#/create/new" class="x-btn_blue">Click here to begin</a>
        </div>
    </div>
</scrollable>
