<div class="x-home h100p">
    <header class="x-header" ng-include="'views/particles/homeHeader.html'"></header>

    <scrollable class="h92p">
        <section class="x-home-top">
            <div class="x-wrap wp-btw">
                <div class="fl-flex1">
                    <h1 class="x-h1">
                        Artificial Intelligence for conversational commerce
                    </h1>
                    <h2 class="x-h2">
                        Engagement. Relationships. Revenue.
                    </h2>
                    <form class="x-form">
                        <input type="text" class="x-form-input" placeholder="Full name" required>
                        <div class="wp-btw">
                            <input type="text" class="x-form-input_48w" placeholder="E-mail" required>
                            <input type="password" class="x-form-input_48w" placeholder="Password" required>
                        </div>
                        <label class="x-checkbox mar-b10">
                            <input type="checkbox">
                            <i></i>
                            <span>I agree to <a href="/terms" target="_blank">Skylar Labs terms</a></span>
                        </label>

                        <a href="" class="x-btn-big">sign up and start building</a>

                        <hr class="x-hr-or mar-v10">

                        <a href="" class="x-btn-big">
                            <span class="x-btn-big-icon"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                            sign up with facebook (recommend)
                        </a>
                    </form>
                </div>
                <div class="fl-flex1">
                    <img style="height: 580px;" src="i/icons/heroIllustration@2x.png" alt="">
                </div>
            </div>


            <div class="x-home-top-logos">
                <div class="x-wrap wp-arnd">
                    <img src="i/icons/5665fcd24642b03858a3fa78_paypal-logo.svg" style="height: 28px;vertical-align: middle;" alt="">
                    <img src="i/icons/5748e2ac0d254d79455c663b_tesla-9.svg" style="height: 28px;vertical-align: middle;" alt="">
                    <img src="i/icons/5748e29b0d254d79455c6639_etsy.svg" style="height: 28px;vertical-align: middle;" alt="">
                    <img src="i/icons/5748e2a54b9cfa5e456cfeb4_ted-2.svg" style="height: 28px;vertical-align: middle;" alt="">

                </div>
            </div>
        </section>


        <section class="x-home-deploy">
            <div class="x-wrap">
                <div class="wp-btw">
                    <div class="x-home-deploy-item">
                        <img class="mar-b40" src="i/robot.png" alt="">
                        <h2 class="x-h3-dark mar-b20">Train with conversation</h2>
                        <p class="x-p-dark">Train your bot with natural language conversations</p>
                    </div>
                    <div class="x-home-deploy-item">
                        <img class="mar-b40" src="i/robot.png" alt="">
                        <h2 class="x-h3-dark mar-b20">Train with conversation</h2>
                        <p class="x-p-dark">Train your bot with natural language conversations</p>
                    </div>
                    <div class="x-home-deploy-item">
                        <img class="mar-b40" src="i/robot.png" alt="">
                        <h2 class="x-h3-dark mar-b20">Train with conversation</h2>
                        <p class="x-p-dark">Train your bot with natural language conversations</p>
                    </div>
                </div>

                <button class="x-btn-big mar-t50" style="text-transform: none;width: auto;padding: 0 30px;">See How It Works</button>
            </div>
        </section>

        <section class="x-home-features">
            <div class="x-wrap">
                <div class="x-home-features-item">
                    <div class="x-home-features-item-part tac">
                        <img src="http://dummyimage.com/270x270/000/fff" alt="">
                    </div>
                    <div class="x-home-features-item-part tal">
                        <h2>Instant Response</h2>
                        <p>Engage with your customers instantly and appropriately</p>
                    </div>
                </div>
                <div class="x-home-features-item">
                    <div class="x-home-features-item-part tar">
                        <h2>Commerce via bot</h2>
                        <p>Build chatbots to sell your product through facebook messenger</p>
                    </div>
                    <div class="x-home-features-item-part tac">
                        <img src="http://dummyimage.com/270x270/000/fff" alt="">
                    </div>
                </div>
                <div class="x-home-features-item">
                    <div class="x-home-features-item-part tac">
                        <img src="http://dummyimage.com/270x270/000/fff" alt="">
                    </div>
                    <div class="x-home-features-item-part tal">
                        <h2>Human Fallback</h2>
                        <p>Your bots asks for help when it needs it and remembers</p>
                    </div>
                </div>


                <div class="x-home-features-item">
                    <div class="x-home-features-item-part tar">
                        <h2>Train with conversation</h2>
                        <p>Train your bot with natural language conversations</p>
                    </div>
                    <div class="x-home-features-item-part tac">
                        <img src="http://dummyimage.com/270x270/000/fff" alt="">
                    </div>
                </div>
                <div class="x-home-features-item">
                    <div class="x-home-features-item-part tac">
                        <img src="http://dummyimage.com/270x270/000/fff" alt="">
                    </div>
                    <div class="x-home-features-item-part tal">
                        <h2>Detailed Analytics</h2>
                        <p>In depth and structured analytics on engangments with your bots</p>
                    </div>
                </div>
                <div class="x-home-features-item">
                    <div class="x-home-features-item-part tar">
                        <h2>Import Content</h2>
                        <p>Feed your bot with content with your content rss URL</p>
                    </div>
                    <div class="x-home-features-item-part tac">
                        <img src="http://dummyimage.com/270x270/000/fff" alt="">
                    </div>
                </div>
            </div>
        </section>

        <!--<section class="x-home-cover">-->
            <!--<div class="x-wrap tac">-->
                <!--<h2 class="x-h2-dark">Pick a template and deploy instantly</h2>-->
                <!--<p class="x-p-dark">-->
                    <!--Pre-built flows with all required modules, you can also edit to fit your need <br>-->
                <!--</p>-->
                <!--<div class="x-home-cover-box wp-arnd">-->
                    <!--<div class="x-home-cover-box-item">-->
                        <!--<img src="i/icons/commerceIcon@2x.png" alt="">-->
                        <!--<h2>E-commerce</h2>-->
                    <!--</div>-->
                    <!--<div class="x-home-cover-box-item">-->
                        <!--<img src="i/icons/newsPublisherIcon@2x.png" alt="">-->
                        <!--<h2>On-demand Content</h2>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->


        <section class="x-home-reviews tac">
            <div class="x-wrap">
                <h2 class="x-h2-dark">Sign up and start building</h2>
                <div class="x-subscribe">
                    <div class="x-subscribe-input">
                        <input type="text">
                        <button>GET STARTED</button>
                    </div>
                    <div class="x-subscribe-text c3">
                        Build a conversational chatbot in less than 5 minute
                    </div>
                </div>


                <div class="x-home-reviews-box">
                    <div bxslider>
                        <div class="wp-btw">
                            <div class="x-home-reviews-box-ava">
                                <img src="i/robot.png" alt="">
                            </div>
                            <div class="x-home-reviews-box-text">
                                <p class="x-p-quote">
                                    Lorem ipsum dolor sit amet, est et facilis iste itaque magnam nisi numquam porro possimus reprehenderit, sequi sint sunt suscipit totam ut voluptates? Ab animi dolores exercitationem, incidunt sapiente sed tempora?
                                </p>
                                <div class="x-h5-bold">Lorem ipsum.</div>
                                <div class="x-h5-lite">Lorem ipsum ipsum.</div>
                            </div>
                        </div>
                        <div class="wp-btw">
                            <div class="x-home-reviews-box-ava">
                                <img src="i/robot.png" alt="">
                            </div>
                            <div class="x-home-reviews-box-text">
                                <p class="x-p-quote">
                                    Lorem ipsum dolor sit amet, est et facilis iste itaque magnam nisi numquam porro possimus reprehenderit, sequi sint sunt suscipit totam ut voluptates? Ab animi dolores exercitationem, incidunt sapiente sed tempora?
                                </p>
                                <div class="x-h5-bold">Lorem ipsum.</div>
                                <div class="x-h5-lite">Lorem ipsum ipsum.</div>
                            </div>
                        </div>
                        <div class="wp-btw">
                            <div class="x-home-reviews-box-ava">
                                <img src="i/robot.png" alt="">
                            </div>
                            <div class="x-home-reviews-box-text">
                                <p class="x-p-quote">
                                    Lorem ipsum dolor sit amet, est et facilis iste itaque magnam nisi numquam porro possimus reprehenderit, sequi sint sunt suscipit totam ut voluptates? Ab animi dolores exercitationem, incidunt sapiente sed tempora?
                                </p>
                                <div class="x-h5-bold">Lorem ipsum.</div>
                                <div class="x-h5-lite">Lorem ipsum ipsum.</div>
                            </div>
                        </div>
                        <div class="wp-btw">
                            <div class="x-home-reviews-box-ava">
                                <img src="i/robot.png" alt="">
                            </div>
                            <div class="x-home-reviews-box-text">
                                <p class="x-p-quote">
                                    Lorem ipsum dolor sit amet, est et facilis iste itaque magnam nisi numquam porro possimus reprehenderit, sequi sint sunt suscipit totam ut voluptates? Ab animi dolores exercitationem, incidunt sapiente sed tempora?
                                </p>
                                <div class="x-h5-bold">Lorem ipsum.</div>
                                <div class="x-h5-lite">Lorem ipsum ipsum.</div>
                            </div>
                        </div>
                        <div class="wp-btw">
                            <div class="x-home-reviews-box-ava">
                                <img src="i/robot.png" alt="">
                            </div>
                            <div class="x-home-reviews-box-text">
                                <p class="x-p-quote">
                                    Lorem ipsum dolor sit amet, est et facilis iste itaque magnam nisi numquam porro possimus reprehenderit, sequi sint sunt suscipit totam ut voluptates? Ab animi dolores exercitationem, incidunt sapiente sed tempora?
                                </p>
                                <div class="x-h5-bold">Lorem ipsum.</div>
                                <div class="x-h5-lite">Lorem ipsum ipsum.</div>
                            </div>
                        </div>
                        <div class="wp-btw">
                            <div class="x-home-reviews-box-ava">
                                <img src="i/robot.png" alt="">
                            </div>
                            <div class="x-home-reviews-box-text">
                                <p class="x-p-quote">
                                    Lorem ipsum dolor sit amet, est et facilis iste itaque magnam nisi numquam porro possimus reprehenderit, sequi sint sunt suscipit totam ut voluptates? Ab animi dolores exercitationem, incidunt sapiente sed tempora?
                                </p>
                                <div class="x-h5-bold">Lorem ipsum.</div>
                                <div class="x-h5-lite">Lorem ipsum ipsum.</div>
                            </div>
                        </div>
                        <div class="wp-btw">
                            <div class="x-home-reviews-box-ava">
                                <img src="i/robot.png" alt="">
                            </div>
                            <div class="x-home-reviews-box-text">
                                <p class="x-p-quote">
                                    Lorem ipsum dolor sit amet, est et facilis iste itaque magnam nisi numquam porro possimus reprehenderit, sequi sint sunt suscipit totam ut voluptates? Ab animi dolores exercitationem, incidunt sapiente sed tempora?
                                </p>
                                <div class="x-h5-bold">Lorem ipsum.</div>
                                <div class="x-h5-lite">Lorem ipsum ipsum.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="x-footer" ng-include="'views/particles/homeFooter.html'"></footer>
    </scrollable>
</div>
