<header class="x-header" ng-include="'views/particles/homeHeader.html'"></header>


<scrollable class="h92p">
    <section class="x-pricing">
        <div class="x-exp-fst">
            <div class="x-pricing-title">
                Choose the right Plan for your business
            </div>
            <div class="x-pricing-title_a c9">
                Lorem ipsum dolor sit amet, consectetur.
            </div>
        </div>
        <div class="x-pricing-box wp-btw">
            <div class="x-plans-item">
                <h2>Free</h2>
                <h1 class="c7">$0</h1>
                <h3>/monthly</h3>

                <hr>

                <p>1 Bot Max</p>

                <hr>

                <p>500 Interactions</p>

                <hr>

                <p>-</p>

                <button class="x-btn_o">Get Started</button>
            </div>
            <div class="x-plans-item">
                <h2>Standard</h2>
                <h1 class="c7">$20</h1>
                <h3>/monthly</h3>

                <hr>

                <p>5 Bots Max</p>

                <hr>

                <p>5000 Interactions</p>

                <hr>

                <p>-</p>

                <button class="x-btn_o">Get Started</button>
            </div>
            <div class="x-plans-item">
                <h2>Professional</h2>
                <h1 class="c7">$50</h1>
                <h3>/monthly</h3>

                <hr>

                <p>10 Bots Max</p>

                <hr>

                <p>7000 Interactions</p>

                <hr>

                <p>-</p>




                <button class="x-btn_o">Get Started</button>
            </div>
            <div class="x-plans-item">
                <h2>Enterprise</h2>
                <h1 class="c7">$2000</h1>
                <h3>/monthly</h3>

                <hr>

                <p>Unlimited Bots</p>

                <hr>

                <p>Unlimited Interactions</p>

                <hr>

                <p>Train with conversations</p>



                <button class="x-btn_o">Get Started</button>
            </div>
        </div>

    </section>

    <footer class="x-footer" ng-include="'views/particles/homeFooter.html'"></footer>
</scrollable>


