<header class="x-header-db" ng-include="'views/particles/dbHeader.html'"></header>

<scrollable class="h92p">
    <div class="pad-v20 h100p">
        <div class="x-wrap-in h100p">
            <div class="x-user wp-btw h100p">
                <scrollable class="x-user-menu h100p">
                    <figure class="x-user-menu-image">
                        <img src="i/icons/user.png" alt="">
                    </figure>
                    <div class="x-user-menu-name">Tomiwa Hassan</div>

                    <div class="x-user-menu-settings">
                        <button class="x-btn-settings-item" ng-class="{active: isTab(1)}" ng-click="setTab(1)">
                            <b><img src="i/icons/iconprofile.png"></b>
                            <span>Profile Details</span>
                        </button>
                        <button class="x-btn-settings-item" ng-class="{active: isTab(2)}" ng-click="setTab(2)">
                            <b><img src="i/icons/iconplans.png"></b>
                            <span>Switch your plan</span>
                        </button>

                        <button class="x-btn-settings-item" ng-class="{active: isTab(3)}" ng-click="setTab(3)">
                            <b><img src="i/icons/iconbilling.png"></b>
                            <span>Billings & Payment</span>
                        </button>

                        <hr>
                        <button class="x-btn-settings-item">
                            <b><i class="fa fa-sign-out" aria-hidden="true"></i></b>
                            <span>Sign out</span>
                        </button>
                    </div>
                </scrollable>

                <scrollable class="x-user-content h100p">
                    <div class="x-panim pad60" ng-show="isTab(1)">
                        <div class="wp-btw">
                            <label class="x-label w48p">
                                <span>Lorem ipsum.</span>
                                <input type="text">
                            </label>
                            <label class="x-label w48p">
                                <span>Lorem ipsum.</span>
                                <input type="text">
                            </label>
                        </div>
                        <label class="x-label_icon mar-v10">
                            <input type="email" placeholder="Email">
                            <i class="fa fa-first-order" aria-hidden="true"></i>
                        </label>
                        <label class="x-label_icon mar-v20">
                            <input type="password" placeholder="Password">
                            <i class="fa fa-first-order" aria-hidden="true"></i>
                        </label>


                        <div class="mar-t40">
                            <button class="x-btn-b_blue">update</button>
                        </div>
                    </div>
                    <div class="x-panim pad30" ng-show="isTab(2)">
                        <div class="x-plans wp-arnd tac">
                            <div class="x-plans-item">
                                <h2>Lorem</h2>
                                <h1>$0</h1>
                                <h3>/mo based</h3>

                                <hr>

                                <p>Lorem ipsum dolor.</p>

                                <hr>

                                <p>Lorem ipsum dolor.</p>

                                <button class="x-btn_o x-btn_blue" >Current</button>
                            </div>

                            <div class="x-plans-item">
                                <h2>Lorem</h2>
                                <h1>$999</h1>
                                <h3>/mo based</h3>

                                <hr>

                                <p>Lorem ipsum dolor.</p>

                                <hr>

                                <p>Lorem ipsum dolor.</p>

                                <button class="x-btn_o">select</button>
                            </div>

                            <div class="x-plans-item">
                                <h2>Lorem</h2>
                                <h1>$999</h1>
                                <h3>/mo based</h3>

                                <hr>

                                <p>Lorem ipsum dolor.</p>

                                <hr>

                                <p>Lorem ipsum dolor.</p>

                                <button class="x-btn_o">select</button>
                            </div>

                            <div class="x-plans-item">
                                <h2>Lorem</h2>
                                <h1>$999</h1>
                                <h3>/mo based</h3>

                                <hr>

                                <p>Lorem ipsum dolor.</p>

                                <hr>

                                <p>Lorem ipsum dolor.</p>

                                <button class="x-btn_o">select</button>
                            </div>
                        </div>


                    </div>
                    <div class="x-panim pad30" ng-show="isTab(3)">
                        <div class="x-card wp-btw">
                            <div class="fl-flex1 pad-h50">
                                <img class="w100p" src="i/card.jpg" alt="">
                            </div>
                            <div class="fl-flex3">
                                <label class="x-label">
                                    <span>Lorem ipsum.</span>
                                    <input type="text">
                                </label>
                                <label class="x-label">
                                    <span>Lorem ipsum.</span>
                                    <input type="text">
                                </label>
                                <div class="">
                                    <label class="x-label w20p dibT mar-r20">
                                        <span>Lorem ipsum.</span>
                                        <input type="text">
                                    </label>
                                    <label class="x-label w20p dibT">
                                        <span>Lorem ipsum.</span>
                                        <input type="text">
                                    </label>
                                </div>
                                <label class="x-label w20p">
                                    <span>Lorem ipsum.</span>
                                    <input type="text">
                                </label>


                                <div class="mar-t40">
                                    <button class="x-btn-b_blue">set defaul card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="x-panim pad30" ng-show="isTab(4)">
                        <div class="x-info c1b4b6">
                            <p class="x-info-h3">
                                Lorem ipsum dolor sit amet, <a href="">consectetur</a> adipisicing elit. Alias, repellendus vel! Aliquid, animi corporis deleniti ea error est fugiat incidunt iste laboriosam minima repellendus rerum.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, repellendus vel! Aliquid, animi corporis deleniti ea error est fugiat incidunt iste laboriosam minima repellendus rerum.
                            </p>
                        </div>

                        <label class="x-label mar-t20">
                            <span>Enter API key</span>
                            <input type="text">
                        </label>

                        <label class="x-label mar-t20">
                            <span>Enter App ID</span>
                            <input type="text">
                        </label>

                        <label class="x-label mar-t20">
                            <span>Enter Bot ID</span>
                            <input type="text">
                        </label>

                        <label class="x-label mar-t20">
                            <span>Enter Escalation User</span>
                            <input type="text">
                        </label>

                        <label class="x-label mar-t20">
                            <span>Enter Failure Message</span>
                            <input type="text">
                        </label>


                        <div class="tar mar-t40">
                            <button class="x-btn-b_blue">finish</button>
                        </div>
                    </div>
                    <div class="x-panim pad30" ng-show="isTab(5)">
                        <div class="x-info c8b4b6 mar-b30">
                            <p class="x-info-h3">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, repellendus vel! Aliquid, animi corporis deleniti ea error est fugiat incidunt iste laboriosam minima repellendus rerum.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, repellendus vel! Aliquid, animi corporis deleniti ea error est fugiat incidunt iste laboriosam minima repellendus rerum.
                            </p>
                        </div>
                        <div class="x-info c1b4b6 wp-btw">
                            <div class="x-info-item">
                                <h2>Lorem ipsum.</h2>
                                <h1>% 0.00</h1>
                                <p>Lorem ipsum dolor.</p>
                                <p>Lorem ipsum dolor. Lorem ipsum.</p>
                            </div>
                            <div class="x-info-item">
                                <h2>Lorem ipsum.</h2>

                                <div class="wp-btw-cen mar-v10">
                                    <label class="x-label pad-r20 fl-flex2">
                                        <input type="text">
                                    </label>
                                    <button class="x-btn_green_l fl-flex1"><span>refill</span></button>
                                </div>

                                <p>Lorem ipsum dolor.</p>
                            </div>
                        </div>
                    </div>
                </scrollable>
            </div>
        </div>
    </div>
</scrollable>

