.x{
  &-db{
    background: #f6f6f6;
    height: 100%;

    &-search{
      padding: 60px 0;
      .x-form-input{width: 585px;font-size: 18px;}
    }

    &-templates{
      &_check{
        @extend .dibM;
        width: 23%;
        input{
          display: none;
          &:checked + .x-db-templates-item{
            box-shadow: 0 2px 20px -6px $c1;
            border: 1px solid $c1;
          }
        }
        .x-db-templates-item{
          width: 100%;
          height: 100%;
        }
      }
      &-item{
        display: block;
        position: relative;
        text-align: center;
        border-radius: 10px;
        width: 23%;
        padding: 45px 30px 30px;
        background: white;
        box-shadow: 0 2px 20px -6px #171717;
        border: 1px solid transparent;
        transition: all 100ms linear;
        cursor: pointer;
        span{
          display: block;
          margin: 0 auto 30px;
          background: #f0f0f0;
          width: 90px;
          height: 90px;
          line-height: 90px;
          border-radius: 50%;
        }
        h2{
          margin: 0 0 25px;
          font-size: 16px;
          font-weight: 900;
          color: $c2;
        }
        p{
          color: $c2;
          font-size: 12px;
          line-height: 15px;

        }

        &:hover{
          box-shadow: 0 2px 20px -6px $c1;
          border: 1px solid $c1;
        }

        &_c{
          @extend .x-db-templates-item;
          padding: 60px 30px 10px;
          img{
            height: 90px;
            margin: 0 auto 50px;
          }

        }
        &_s{
          @extend .x-db-templates-item;
          padding: 40px 30px 30px;
          img{
            height: 95px;
            margin: 0 auto 35px;
          }
          h2{
            margin: 0 0 35px;
          }

        }
      }
    }

    .x-db-btn{
      margin: 70px 0 30px;
    }

    &-item{
      text-align: center;
      width: 24%;
      background: white;
      box-shadow: 0 2px 20px -6px #171717;
      min-height: 250px;
      &-h2{
        text-transform: uppercase;
        font-size: 16px;
        color: $c2;
        border-bottom: 2px solid $c5;
        padding: 15px 0;
      }
      &-num{
        font-size: 50px;
        font-weight: 700;
        color: $c7;
        padding: 40px 0;
      }
      &-info{
        font-size: 14px;
        color: #93a7b9;
        margin: 0 0 5px;
      }
    }

    &-chart{
      background: white;
      box-shadow: 0 2px 20px -6px #171717;
      &-info{
        padding: 20px 0;
        &-item{
          @extend .dibT;
          h2{
            font-size: 16px;
            text-transform: uppercase;
            color: $c3;
          }
          h3{
            padding: 10px 0 0;
            b, span{
              @extend .dibM;
            }
            b{
              font-size: 50px;
              color: $c8;
            }
            span{
              margin: 0 0 0 15px;
              font-size: 16px;
              text-transform: uppercase;
              color: $c2;
            }
          }
        }
      }
    }
  }
}
