.x{
  &-home{
    &-top{
      padding: 60px 0 0;

      .x-h1{
        margin: 19px 0 27px;
      }

      .x-h2{
        margin: 0 0 65px;
      }

      .x-form{
        width: 80%;
      }

      &-logos{
        margin: 44px 0 0;
        padding: 20px 0;
        width: 100%;
        &:before{
          content: '';
          margin: 0 0 10px;
          height: 4px;
          width: 100%;
          display: block;
          background: rgba(239,239,239,1);
          background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(252,252,252,1) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,239,239,1)), color-stop(100%, rgba(252,252,252,1)));
          background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(252,252,252,1) 100%);
          background: -o-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(252,252,252,1) 100%);
          background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(252,252,252,1) 100%);
          background: linear-gradient(to bottom, rgba(239,239,239,1) 0%, rgba(252,252,252,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#fcfcfc', GradientType=0 );
        }
      }

    }

    &-deploy{
      padding: 100px 0;
      background: #fafafa;
      text-align: center;

      &-item{
        width: 33%;
        img{
          height: 135px;
        }
        .x-h3-dark{
          font-weight: bold;
        }
      }
    }

    &-features{
      padding: 100px 0;
      &-item{
        @extend .wp-btw-cen;
        margin: 70px 0;
        &-part{
          @extend .dibM;
          width: 50%;
        }
        img{
          height: 270px;
        }
        h2{
          margin: 0 0 40px;
          font-size: 34px;
          color: $c2;
        }
        p{
          color: $c3;
          font-size: 24px;
          line-height: 30px;
          max-width: 480px;
          display: inline-block;
        }
      }
    }

    &-cover{
      padding: 9% 0 26%;
      position: relative;
      background: url(../i/home1.png) center 0 no-repeat;
      background-size: 100% auto;
      &-box{
        width: 50%;
        margin: 90px auto 0;
        &-item{
          width: 50%;
          img{
            height: 90px;
            margin: 0 0 70px;
          }
          h2{
            font-size: 24px;
          }
        }
      }
    }

    &-reviews{
      background: #fafafa;
      padding: 100px 0;
      .x-subscribe-input{
        margin: 55px auto 48px;
      }
      .slick-arrow{
        display: none !important;
      }

      .bx-pager-item{
        @extend .dibM;
        margin: 0 5px 0;
        a{
          @extend .dibM;
          background: $c4;
          font-size: 0;
          width: 10px;
          height: 10px;
          padding: 0;
          display: block;
          border-radius: 50%;
          border: none;


          &.active {background: $c1;}
        }
      }

      &-box{
        margin: 100px auto 0;
        width: 75%;
        &-ava{
          @extend .dibM;
          img{
            border-radius: 50%;
            max-width: 80px;
            height: 80px;
          }
        }
        &-text{
          @extend .dibM;
          width: 82%;
          text-align: left;
          p{

          }
        }
      }
    }
  }
}