$c1: #0d7fcc;
$c2: #055c96;
$c3: #a3b4c3;
$c4: #e0e0e0;
$c5: #f0f0f0;
$c6: #edf8ff;
$c7: #00a651;
$c8: #ff9393;
$c9: #343434;
$c10: #fff7f7;
$c11: #2d5570;
$c12: #8da2b5;
$c13: #ff9393;


// .c1b1b1 = .c(color)b(border)b(background)
// W - white
// 0 - none
.cW{
  color: white;
}
.c1{
  color: $c1 !important;
}
.bgW{
  background: white !important;
}
.bg1{
  background: $c1 !important;
}
.bgW{
  background: white !important;
}
.bg3{
  background: $c3 !important;
}
.bg4{
  background: $c4 !important;
}
.c1b1{
  color: $c1 !important;
  border: 1px solid $c1 !important;
}
.c2{
  color: $c2 !important;
}
.c3{
  color: $c3 !important;
}
.c4{
  color: $c4 !important;
}
.c7{
  color: $c7 !important;
}
.c8{
  color: $c8 !important;
}
.c9{
  color: $c9 !important;
}
.bg2{
  background: $c2 !important;
}
.bg8{
  background: $c8 !important;
}
.bg13{
  background: $c13 !important;
}
.c2b2{
  color: $c2 !important;
  border: 1px solid $c2 !important;
}


.cWb2b2{
  color: white !important;
  border: 1px solid $c2 !important;
  background: $c2 !important;
}
.c2b0b2{
  color: $c2 !important;
  border: 1px solid $c2 !important;
}
.c2b0bW{
  color: $c2 !important;
  border: 1px solid $c2 !important;
  background: white !important;
}

.cWb1b1{
  color: white !important;
  border: 1px solid $c1 !important;
  background: $c1 !important;
}
.c1b1bT{
  color: $c1 !important;
  border: 1px solid $c1 !important;
  background: transparent !important;
}
.cWb3b3{
  color: white !important;
  border: 1px solid $c3 !important;
  background: $c3 !important;
}
.c1b4b6{
  color: $c1 !important;
  border: 1px solid $c4 !important;
  background: $c6 !important;
}
.c8b4b6{
  color: $c8 !important;
  border: 1px solid $c8 !important;
  background: $c10 !important;
}
.c9bWbW{
  color: $c9 !important;
  border: 1px solid white !important;
  background: white !important;
}
.cWb12b12{
  color: white !important;
  border: 1px solid $c12 !important;
  background: $c12 !important;
}
.c1b9bW{
  color: $c1 !important;
  border: 1px solid $c9 !important;
  background: white !important;
}
.c1b7bW{
  color: $c1 !important;
  border: 1px solid $c7 !important;
  background: white !important;
}
//--REWRITE--///////////////////////////////////////////////////////////
.x-tags{
  .tags{
    background: #f0f0f0;
    box-shadow: none !important;
    border: none !important;
    padding: 7px 5px;
    input{
      background: #f0f0f0;
    }
  }

  .tag-item{
    color: $c2;
    background: #fff !important;
    border-radius: 0 !important;
    border: none !important;
  }

  &_w{
    @extend .x-tags;
    .host{
      border: 1px solid #e0e0e0 !important;
    }
    .tags{
      background: white;
      padding: 0 5px;
      input{
        background: white;
      }
    }

    .tag-item{
      color: white;
      background: $c1 !important;
      height: 22px !important;
      line-height: 22px !important;
      font-size: 12px !important;
      margin: 4px !important;
      .remove-button{
        color: white !important;
      }
    }
  }
}


.nano{
  > .nano-pane{
    background: rgba(13, 127, 204, 0.3);
    border-radius: 0;
    width: 5px;
    > .nano-slider {
      background: rgba(13, 127, 204, 0.7);
      border-radius: 0;
    }
  }

  //&-content{
  //  @extend .wp-btw;
  //}
}


ob-daterangepicker {
  width: 24%;
  font-family: 'PT Sans', sans-serif;
  .picker-dropdown-container{
    .picker-dropdown {
      font-family: 'PT Sans', sans-serif;
      width: 100%;
      height: 36px;
      line-height: 36px;
      border: none;
      box-shadow: 0 2px 20px -6px #171717;
      background: #fff;
      &:after {
        content: "\f07d";
        position: absolute;
        top: 11px;
        right: 10px;
        font: normal normal normal 14px/1 FontAwesome;

        width: auto;
        height: auto;
        border: none;
      }
    }

    .picker {
      border: none;
      box-shadow: 0 2px 20px -6px #171717;
    }
  }

  .ranges-actions{
    display: none!important;
  }
}
calendar{
  .header {
    position: relative;
    top: 22px;
    height: 28px;
    background: $c1;
    color: #FFF;
    border: none;
    .arrow-btn.right,
    .arrow-btn.left {
      border: none;
    }
  }
  .board .day{
    &.in-range:not(.other-month):not(.disabled) {
      background: $c1;
    }

    &.range-start:not(.other-month):not(.disabled) {
      background: $c2;
    }
    &.range-end:not(.other-month):not(.disabled) {
      background: $c2;
    }
  }
}


.pickadate{
  width: 300px;
  margin: 0 auto;
  &-cell{
    .pickadate-head {
      border: none;
      background: none;
      &:nth-child(1), &:nth-child(7) {
        color: #f66767;
        border: none;
        background: none;
      }
    }
    li {
      border: none !important;
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: $c9;
      background: transparent;
      border-radius: 50%;
      margin: 6px;
      padding: 0;
      &:nth-child(7n+0) {
        color: #f66767;
      }
      &:nth-child(1),
      &:nth-child(8),
      &:nth-child(15),
      &:nth-child(22),
      &:nth-child(29),
      &:nth-child(36) {
        color: #f66767;
      }
    }
    .pickadate-today {
      background: rgba(13,127,204,.64);
      color: #fff !important;
    }
    .pickadate-active {
      background: #0d7fcc;
      color: #fff !important;
    }
    .pickadate-disabled {
      opacity: 0.3;
    }
  }


  &-controls a {
    text-decoration: none;
    font-size: 0;
  }
  &-prev{
    &:after{
      content: "\f177";
      color: $c1;
      font: normal normal normal 20px/1 FontAwesome;
    }
  }
  &-next{
    &:after{
      content: "\f178";
      color: $c1;
      font: normal normal normal 20px/1 FontAwesome;
    }
  }

  &-centered-heading{
    color: $c9;
  }
}


.bx{
  &-wrapper {
    box-shadow: none;
  }
  &-pager{
    .pager-link{
      width: 10px;
      height: 10px;
      background: #dddddd;
      display: inline-block;
      border-radius: 50%;
      font-size: 0;
      margin: 0 6px;

      &.pager-active{
        background: $c1;
      }
    }
  }
}


//.ui-select{
//  &-multiple.ui-select-bootstrap input.ui-select-search{
//    background: white!important;
//  }
//
//  &-container{
//    background: #fff;
//  }
//
//  &-match{
//    &-item{
//      border-right: 3px;
//      background: #f3f3f3;
//      margin: 0 3px 0 0;
//    }
//    [uis-transclude-append]{
//      margin: 0 5px 5px 0;
//    }
//  }
//}
/////////////////////////////////////////////////////////////
body{
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  color: $c2;
}

.x{
  height: 100%;
  &-wrap{
    width: 1170px;
    margin: 0 auto;
    &-in{
      padding: 0 33px;
    }
  }

  &-btn{
    @extend .dibM;
    border-radius: 20px;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    padding: 7px 40px;
    font-size: 10px;
    font-weight: 700;
    &-o{
      border: none;
      background: none;
      padding: 0;
      i,span{
        @extend .dibM;
      }
      i{
        margin-right: 5px;
      }
      span{
        text-transform: uppercase;
        font-size: 10px;
      }
    }
    &_o{
      @extend .x-btn;
      border: 1px solid $c1;
      color: $c1;
      background: white;
      &_big{
        @extend .x-btn_o;
        @extend .c2b2;
        padding: 10px 35px;
        i,span{
          @extend .dibM;
          font-weight: 300;
        }
        i{
          margin-right: 5px;
          font-size: 14px;
        }
        span{
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    }
    &_blue{
      @extend .x-btn;
      background: #0d7fcc;
      border: 1px solid $c1;
      color: white;
    }
    &_gray{
      @extend .x-btn;
      padding: 9px 25px;
      border: 1px solid #cecece;
      color: white;
      background: #cecece;
      font-size: 15px;
    }
    &_green{
      display: inline-block;
      text-align: center;
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      background: $c7;
      color: white;
      border: none;
      text-transform: uppercase;
      i,span{
        @extend .dibM;
      }
      i{
        margin-right: 5px;
      }
      span{
        font-size: 10px;
      }

      &_b{
        @extend .x-btn_green;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
      }
      &_l {
        @extend .x-btn_green;
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        span{
          font-size: 16px;
        }
      }
    }

    &-b{
      &_blue{
        @extend .x-btn_gray;
        border: 1px solid $c1;
        background: $c1;
      }
    }

    &-big{
      display: inline-block;
      text-align: center;
      height: 44px;
      line-height: 44px;
      width: 100%;
      background: $c1;
      color: white;
      border: none;
      text-transform: uppercase;
      position: relative;
      i,span{
        @extend .dibM;
      }
      i{
        margin-right: 5px;
      }

      &_s{
        @extend .x-btn-big;
        margin: 4px 0;
        span{
          font-size: 10px;
        }
      }

      &-icon{
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        height: 100%;
        border-right: 1px solid #2266d5;
        padding: 5px 15px;
        font-size: 20px;
        line-height: 34px;
        i{
          margin: 0;
        }
      }

      &[toggle-next]{
        text-align: left;
        padding: 0 15px;
        position: relative;
        background: $c7;
        i{
          margin: 0;
          position: absolute;
          right: 15px;
          top: 15px;
          transition: all 200ms linear;
        }
        &.active{
          i{
            transform: rotate(180deg);
          }
        }
      }
    }

    &-under{
      display: inline-block;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 600;
      color: $c2;
      margin: 0 0 0 30px;
      transition: all 100ms linear;
      background: none;
      border: none;
      border-bottom: 2px solid transparent;
      i{
        @extend .dibM;
        font-size: 14px;
      }
      span{
        @extend .dibM;
        margin: 0 7px;
        position: relative;
        b{
          position: absolute;
          right: -14px;
          top: 50%;
          margin: -14px 0 0 0;
          width: 16px;
          height: 16px;
          line-height: 16px;
          border-radius: 50%;
          display: block;
          text-align: center;
          font-size: 10px;
          color: white;
          background: #f34646;
        }
      }
      img{
        height: 15px;
      }
      &:hover, &.active{
        border-bottom: 2px solid $c1;
      }


      &_w{
        @extend .x-btn-under;
        color: white;
        vertical-align: middle;
        background: $c2;

        i{
          font-size: 10px;
        }

        &:hover, &.active{
          border-bottom: 2px solid white;
        }

        &.no-under{
          &:hover, &.active{
            border-bottom: 2px solid transparent;
          }
        }
      }
    }

    &-settings{
      position: absolute;
      right: 10px;
      top: 5px;
      button{
        padding: 12px;
        border: none;
        background: none;
        font-size: 18px;
        color: #000;
        span{
          display: block;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #000;
          margin: 5px 0;
        }
      }
      ul{
        position: absolute;
        width: 100px;
        right: 10px;
        top: 55px;
        display: none;
        background: white;
        text-align: left;
        padding: 0 0 0 15px;
        box-shadow: 0 2px 20px -6px #171717;
        &.active{
          display: block;
        }
        li{
          button{
            background: none;
            border: none;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
            padding: 10px 0;
          }
        }
      }
    }

    &-box{
      @extend .dibM;
      color: white;
      padding: 5px 10px;
      margin: 0 0 0 33px;
      border-radius: 3px;
      i{
        @extend .dibM;
        font-size: 16px;
      }
      span{
        @extend .dibM;
        font-size: 10px;
        text-transform: uppercase;
        margin: 0 0 0 5px;
      }
    }

    &-drag{
      background: white;
      border: 1px solid $c4;
      padding: 6px 15px;
      color: $c2;
      i,span{
        @extend .dibM;
      }
      i{
        margin: 0 0 0 10px;
        color: $c1;
      }
      &_o{
        @extend .x-btn-drag;
        border: none;
        background: none;
      }
    }

    &-using{
      @extend .dibM;
      min-width: 200px;
      background-color: transparent;
      border: none;
      padding: 30px 0;
      border-radius: 10px;
      color: white;
      margin: 15px;
      i{
        font-size: 50px;
        margin-bottom: 10px;
      }
      span{
        display: block;
        font-size: 16px;
      }
    }
  }

  &-form{
    h2{
      font-size: 18px;
      text-align: left;
      color: $c2;
      margin: 15px 0;
      span{
        font-size: 12px;
        color: $c3;
      }
    }
    p{
      color: $c3;
      font-size: 12px;
      text-align: left;
    }

    &-input{
      @extend .dibM;
      width: 100%;
      border-radius: 3px;
      border: 2px solid $c4;
      font-size: 15px;
      height: 40px;
      line-height: 40px;
      padding: 0 15px;
      color: $c2;
      margin: 0 0 10px;
      &_48w{
        @extend .x-form-input;
        width: 48%;
      }

      &.err{
        border: 1px solid transparent !important;
        transition: all 200ms linear;
        &:focus{
          border: 1px solid $c8 !important;
        }
      }

      &_wa{
        @extend .x-form-input;
        width: auto;
      }

      &-length{
        width: 100%;
        position: relative;
        display: inline-block;
        overflow: hidden;
        &-counter{
          padding: 1px 3px;
          color: white;
          background: $c8;
          font-size: 10px;
          position: absolute;
          left: 0;
          bottom: 0;
          opacity: 0;
          transition: all 200ms linear;
        }
        textarea{margin: 0;}
        textarea:focus + span,
        input:focus + span{
          opacity: 1;
        }
      }

      &-select{
        @extend .x-form-input;
        padding: 0 !important;
        line-height: 1;
        .ui-select{
          &-search{
            height: 100%;
            margin: 0;
            width: 74px;
            padding: 17px 5px;
            background-color: #fff !important;
          }
          &-match{
            &-item{
              span{
                @extend .dibM;
              }
            }
            &-close{
              font-size: 18px !important;
              line-height: 1 !important;
            }
          }
        }
      }

      &_url{
        @extend .x-form-input;
        font-size: 13px;
        color: #b2b2b2;
        height: 22px;
        line-height: 22px;
      }
    }
    &-textarea{
      width: 100%;
      border-radius: 3px;
      border: 2px solid $c4;
      font-size: 15px;
      min-height: 40px;
      padding: 15px;
      color: $c2;
      margin: 0 0 10px;
      resize: vertical;

      &.err{
        border: 1px solid transparent !important;
        transition: all 200ms linear;
        &:focus{
          border: 1px solid $c8 !important;
        }
      }

      &_title{
        @extend .x-form-textarea;
        margin: 0;
        font-size: 14px;
        color: $c9;
        padding: 10px;
      }
      &_subtitle{
        @extend .x-form-textarea;
        margin: 0;
        padding: 10px;
        font-size: 13px;
        line-height: 1.2;
        color: #666;
      }
    }
    &-link{
      display: block;
      text-align: right;
      color: $c4;
      font-size: 10px;
      margin: 0 0 30px;
    }
    &-ques{
      h2{
        text-align: left;
        font-size: 24px;
        color: $c2;
        margin-bottom: 10px;
      }
      p{
        text-align: left;
        font-size: 14px;
        font-weight: 300;
        color: $c3;
        margin: 10px 0 20px;
      }

      &-input{
        position: relative;

        span{
          position: absolute;
          left: 15px;
          top: 15px;
          color: $c3;
          font-size: 14px;
        }
        input{
          @extend .x-form-input;
          height: auto;
          line-height: 100%;
          padding: 38px 80px 15px 15px;
          color: $c2;
          margin: 0;
        }
        button{
          @extend .x-btn-o;
          color: $c8;
          position: absolute;
          right: 20px;
          top: 50%;
          font-size: 14px;
          margin-top: -7px;
        }
      }
    }
  }

  &-modal{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(255, 255, 255, 0.9);
    &-wrap{
      width: auto;
      padding: 0 30px;
      &_s{
        padding: 0 90px;
      }
    }

    &_dark{
      @extend .x-modal;
      background: rgba(0, 0, 0, 0.7);
    }

    &-close{
      position: absolute;
      right: 0;
      top: -50px;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
      transform: rotate(45deg);
      color: white;
      background: $c1;
      border: none;
      font-size: 50px;
      &-wrap{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
      &-x{
        position: absolute;
        z-index: 111;
        text-align: center;
        transform: rotate(45deg);
        background: $c1;
        border: none;
        background: none;
        color: $c1;
        top: 30px;
        right: 25px;
        width: auto;
        height: auto;
        font-size: 35px;
        line-height: 35px;
        padding: 0 5px;
      }
    }

    &-box{
      width: 500px;
      margin: 100px auto;
      background: url(../i/modalBg.png),white;
      background-size: 100%;
      padding: 55px 50px;
      box-shadow: 0 2px 20px -6px #171717;
      position: relative;
          border-radius: 10px;
      &_s{
        @extend .x-modal-box;
        width: 490px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        border-radius: 10px;
        padding: 30px 40px;
      }
      &_l{
        @extend .x-modal-box_s;
        width: 650px;
        padding: 50px 20px;
        .x-h3-dark{
          margin: 0 0 70px;
        }
      }
      &_b{
        background: url(../i/modalBg.png),white;
        background-size: 100%;
        position: relative;
        margin: 50px auto;
        width: 730px;
        padding: 35px 0;
        border-radius: 10px;
      }

      &-item{
        @extend .dibT;
        width: 28%;
        border-radius: 5px;
        text-align: center;
        border: 1px solid $c2;
        padding: 10px 0;
        cursor: pointer;
        img{
          width: 90px;
          margin-bottom: 20px;
        }
        h2{
          text-transform: uppercase;
          font-size: 13px;
        }
        &:hover, &.active{
          box-shadow: 0 2px 20px -6px $c1;
          border: 1px solid $c1;
        }
      }

      .x-h2-dark{
        margin: 0 0 14px;
      }

      .x-form{
        width: 90%;
        margin: 0 auto;
      }

      &-under{
        position: absolute;
        left: 0;
        right: 0;
        bottom: -30px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        color: $c9;
        a{
          font-weight: 700;
          color: $c1;
        }
      }
    }

    &-pages{
      margin-top: 55px;
      button,span{
        @extend .dibM;
      }
      button{
        border: none;
        background: none;
        color: $c1;
        font-size: 30px;
        padding: 0 15px;
      }
      span{
        text-transform: uppercase;
        font-weight: 600;
        color: $c2;
        margin: 0 30px;
        font-size: 18px;
      }
    }

    &-h2{
      color: $c2;
      font-size: 24px;
      padding: 0 0 25px;
      border-bottom: 2px solid $c5;
      &-help{
        float: right;
        font-size: 16px;
        margin: 6px 35px 0 0;
      }
    }

    &-footer{
      border-top: 2px solid $c5;
    }

    &-list{
      height: 280px;
      margin: 0 auto;
      &-item{
        margin: 10px 0;
        &-figure{
          margin: 0 15px 0 0;
          img{
            max-width: 40px;
            height: 40px;
          }
        }
        &-info{
          font-size: 16px;
          text-align: left;
        }
      }
    }

    &-in{
      display: none;
      position: absolute;
      z-index: 10;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 9px;
      &-box{
        width: 300px;
        background: url(../i/modalBg.png),white;
        padding: 25px;
        box-shadow: 0 2px 20px -6px #171717;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 9px;
      }

      &.active{
        display: block;
      }
    }

    &.fixed{
      position: fixed;
    }

    &-on{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      width: 1240px;
      margin: 50px auto;
      z-index: 100;
      background: white;
      border-radius: 20px;
      box-shadow: 0 2px 20px -6px #171717;
      min-height: 700px;
      &-left{
        padding: 40px;
        width: 75%;
        background: #f8faf9;
        border-radius: 20px 0 0 20px;
      }
      &-right{
        border-radius:  0 20px 20px 0;
        padding: 40px 20px;
        width: 25%;
        position: relative;
        box-shadow: -2px 0 20px 0 rgba(0,0,0,.1),-1px 0 0 0 rgba(0,0,0,.1);
        &-info{
          text-align: center;
          margin: 100px auto 0;
          i{
            font-size: 40px;
            color: $c1;
            margin-bottom: 15px;
          }
        }
      }

      &_full{
        @extend .x-modal-on;
        width: 100%;
        height: 100%;
        border-radius: 0;
        margin: 0;
      }

    }

    &-radio{
      @extend .dibM;
      margin: 15px;
      input{
        display: none;
        &:checked + .x-modal-radio-content{
          background: white !important;
          border: 1px solid $c7 !important;
          color: #000;
        }
      }
      &-content{
        @extend .dibM;
        min-width: 200px;
        padding: 30px 0;
        border-radius: 10px;
        color: white;
        border: 1px solid transparent;
        background: white;
        text-align: center;
        img{
          height: 50px;
          margin-bottom: 10px;
        }
        i{
          font-size: 50px;
          margin-bottom: 10px;
        }
        span{
          display: block;
          font-size: 16px;
          color: #000;
        }
      }
    }

    &-table{
      width: 100%;
      height: 100%;
      overflow: scroll;
      &-head{
        background: $c1;
        color: white;
        th{
          padding: 15px 0;
          text-transform: uppercase;
          span{
            @extend .dibM;
            margin-right: 15px;
          }
        }
        .x-checkbox{
          @extend .dibM;
          i:after{
            background: #fff;
          }
        }
      }
      &-body{
        font-size: 16px;
        color: $c9;
        img{
          height: 50px;
          margin: 5px 0;
        }
        tr{
          td{
            min-width: 300px;
          }
        }
        tr:nth-child(even){
          background: $c4;
        }
        tr:hover{
          background: #d7d7d7;
        }
      }
    }
  }

  &-subscribe{
    &-input{
      position: relative;
      width: 400px;
      input{
        width: 100%;
        border: 1px solid $c1;
        border-radius: 20px;
        padding: 0 165px 0 27px;
        height: 44px;
        line-height: 44px;
        font-size: 15px;
        text-transform: uppercase;
        color: $c4;
      }
      button{
        position: absolute;
        right: 0;
        top: 0;
        font-size: 15px;
        font-weight: 700;
        height: 44px;
        border-radius: 20px;
        border: none;
        color: #fff;
        padding: 0 28px;
        background: $c1;
      }
    }

    &-text{
      color: $c4;
      margin: 16px 0 0;
      font-size: 15px;
    }
  }

  &-h1{
    font-size: 40px;
    line-height: 55px;
    color: $c2;
  }

  &-h2{
    font-size: 30px;
    line-height: 40px;
    color: $c3;
    &-white{
      font-size: 30px;
      color: #fff;
      text-transform: uppercase;
    }

    &-dark{
      margin: 0 0 40px;
      font-size: 40px;
      color: $c2;
    }
  }

  &-h3{
    font-size: 16px;
    text-align: center;
    color: $c3;
    margin: 0 0 45px;

    &-dark{
      color: $c2;
      font-size: 20px;
      margin: 0 0 18px;
    }

    sup{
      font-size: 10px;
      bottom: 8px;
      position: relative;
    }
  }

  &-h4{
    color: $c3;
    font-size: 14px;
    margin: 5px 0 0;
  }

  &-h5{
    &-bold{
      font-weight: 700;
      margin: 0 0 5px;
    }
    &-lite{
      font-weight: 400;
      font-size: 12px;
      margin: 0 0 5px;
    }
  }

  &-p{
    &-white{
      color: #fff;
      font-size: 16px;
      margin: 0 0 21px;
      line-height: 21px;
    }

    &-dark{
      font-size: 16px;
      line-height: 20px;
      color: $c2;
    }

    &-quote{
      position: relative;
      font-size: 16px;
      line-height: 22px;
      margin: 0 0 20px;
      &:before, &:after{
        content: '';
        position: absolute;
        left: -30px;
        top: -5px;
        width: 16px;
        height: 12px;
        background: url(../i/icons/quote.jpg) 0 0 no-repeat;
      }
      &:after{
        left: inherit;
        top: inherit;
        right: 0;
        bottom: -5px;
      }
    }
  }

  &-hr{
    border: none;
    margin: 0;
    height: 3px;
    width: 100%;
    display: block;
    background: $c5;
    &-little{
      margin: 35px 0;
      width: 40px;
      border: none;
      height: 6px;
      background: #ffcd00;
    }

    &-line{
      border: none;
      margin: 0;
      height: 2px;
      width: 100%;
      display: block;
      background: $c4;
    }

    &-or{
      text-align: center;
      border: none;
      position: relative;
      &:before{
        content: 'or';
        font-size: 16px;
        color: $c3;
        position: relative;
        z-index: 1;
        background: white;
        padding: 0 15px;
      }
      &:after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 8px;
        width: 100%;
        height: 1px;
        background: $c3;
      }
    }
  }

  &-header{
    height: 8%;
    overflow: hidden;
    border-bottom: 2px solid $c5;
    &-nav{
      font-size: 0;
      a{
        @extend .dibM;
        font-size: 19px;
        color: #2f5772;
        margin: 0 30px 0 0;
      }
      button{
        margin-left: 12px;
      }
    }

    &-logo{
      @extend .dibM;
      padding: 0 33px 0 0;
      //margin: 15px 33px 15px 0;
      border-right: 1px solid $c4;
      a{
        display: inline-block;
        font-size: 30px;
        color: #fff;
        height: 37px;
        line-height: 37px;
        img{
          width: 120px;
          vertical-align: top;
        }
      }
    }

    &-db{
      height: 8%;
      overflow: hidden;
      background: #fff;
      border-bottom: 2px solid $c5;

      &-nav{
        a{
          @extend .dibM;
          text-transform: uppercase;
          font-size: 12px;
          margin: 0 10px;
        }
      }

      .x-header-logo{
        img{
          vertical-align: middle;
          width: 29px;
        }
      }
    }

    &-in{
      height: 8%;
      background: $c2;
      .x-header-logo{
        margin: 0;
        border-color: #065082;
        img{
          width: auto;
          vertical-align: middle;
        }
      }
    }

    &.fixed{
      background: white;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 10;
    }
  }

  &-footer{
    background: $c11;
    padding: 65px 0;
    &-item{
      text-align: left;
      h2{
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        margin: 0 0 35px;
      }
      a{
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        margin: 0 0 18px;
        display: inline-block;
      }
    }

    &-social{
      text-align: right;
      a{
        color: #fff;
        width: 30px;
        height: 30px;
        line-height: 28px;
        text-align: center;
        padding: 0 0 0 2px;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid #fff;
        margin: 0 5px;
      }
    }
  }

  &-info{
    font-size: 12px;
    border-radius: 3px;
    padding: 30px 20px;
    margin: 20px 0;
    &-box{
      background: white;
      border: 1px solid $c4;
      color: $c2;
      padding: 5px 30px;
    }
    &-p{
      font-size: 14px;
      line-height: 20px;
      color: $c2;
      font-weight: 300;
    }
    &-h2{
      text-align: left;
      font-size: 14px;
      font-weight: 700;
      color: $c2;
    }
    &-h3{
      font-size: 14px;
    }

    &-empty{
      width: 100%;
      height: 100px;
      border-radius: 5px;
      border: 1px solid $c5;
      background: #d8d8d8;
      &_b{
        @extend .x-info-empty;
        height: 150px;
      }
    }
    &-link{
      @extend .dibM;
      background: #fff;
      border: 1px solid #e0e0e0;
      border-radius: 3px;
      color: $c2;
      padding: 8px 15px 8px 15px;
      min-width: 170px;
      margin: 10px 0;
    }

    &-facebook{
      &-img{
        border-radius: 3px;
        overflow: hidden;
        img{
          max-width: 165px;
          height: 165px;
        }
      }

      &-text{
        width: 65%;
        text-align: left;
        h2{
          color: $c2;
          font-weight: 700;
          font-size: 16px;
        }
        p{
          font-size: 13px;
          font-weight: 300;
        }
      }
    }

    &-item{
      width: 50%;
      padding: 20px 50px;
      &:first-child{
        border-right: 1px solid #c9d8e4;
      }

      h2{
        font-size: 16px;
        color: $c2;
        font-weight: 700;
        margin-bottom: 30px;
      }
      h1{
        font-size: 72px;
        color: $c2;
        margin-bottom: 10px;
      }
      p{
        font-size: 14px;
        color: $c3;
      }
    }

    &_s{
      @extend .x-info;
      padding: 15px 20px;
    }

    &-message{
      background: #d3d3d3;
      padding: 15px;
      font-size: 20px;
      color: $c9;
      border-radius: 5px;
    }
  }

  &-label{
    display: block;
    width: 100%;
    margin: 10px 0;
    text-align: left;
    position: relative;
    span{
      display: block;
      font-size: 18px;
      color: $c2;
      margin: 0 0 10px;
    }
    input{
      font-size: 20px;
      width: 100%;
      border-radius: 3px;
      border: 1px solid $c4;
      height: 50px;
      line-height: 50px;
      padding: 0 25px;
      color: $c2;
    }
    &_icon{
      @extend .x-label;
      input{
        padding: 0 25px 0 50px;
      }
      i{
        position: absolute;
        left: 15px;
        top: 13px;
        font-size: 24px;
      }
    }
  }

  &-checkbox{
    @extend .dibM;
    input{
      display: none;
      &:checked + i{
        &:after{
          opacity: 1;
          transform: scale(1) rotate(180deg);
        }
      }
    }
    i,span{
      @extend .dibM;
    }
    i{
      width: 20px;
      height: 20px;
      border: 1px solid $c3;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        left: 3px;
        top: 3px;
        width: 12px;
        height: 12px;
        background: $c1;
        opacity: 0;
        transform: scale(0);
        transition: all 200ms linear;
      }
    }

    span{
      margin: 0 0 0 10px;
      font-size: 12px;
      color: $c3;
      &.big{
        font-size: 18px;
      }
    }
  }

  &-tabs{
    border-bottom: 2px solid $c5;
    .x-btn-under{
      font-size: 12px;
      margin: 0 30px 0 0;
      //padding: 25px 0;
    }
  }

  &-chat{
    &.onlyChat{
      .x-chat-aside{
        width: 0;
        overflow: hidden;
        opacity: 0;
        border: none;
      }
      .x-chat-win{
        width: 100%;
        &:after{
          opacity: 0;
        }
      }
    }

    &-aside{
      width: 28%;
      height: 100%;
      border-right: 2px solid $c5;
      transition: all 100ms linear;
      &-item{
        position: relative;
        padding: 19px 13px;
        transition: all 100ms linear;
        cursor: pointer;

        &-info{
          width: 82%;
          h2{
            font-weight: 700;
            font-size: 14px;
            margin: 0 0 12px;
            span{
              font-weight: 400;
            }
          }
        }

        &-api{
          position: absolute;
          right: 14px;
          top: 17px;
          padding: 4px 13px;
          border-radius: 10px;
          text-transform: uppercase;
          font-size: 10px;
          background: #8da2b5;
          color: white;
        }

        &.withoutHover{
          &:hover, &.active{
            background: inherit;
          }
        }

        &:hover, &.active{
          background: $c5;
        }
      }
    }

    &-win{
      height: 100%;
      width: 72%;
      position: relative;
      padding: 0 0 100px;
      transition: all 100ms linear;

      &-mes{
        .nano-content{
          padding: 0 40px;
          display: block !important;
        }
      }

      &-item{
        @extend .wp-btw;
        justify-content: flex-start !important;
        margin: 25px 0;
        &-ava{
          width: 7%;
          text-align: left;
        }


        &-text, &-img{
          &.sended{
            &:after{
              content: "\f00c";
              position: absolute;
              top: 50%;
              right: -30px;
              transform: translate(0,-50%);
              font-family: FontAwesome;
              color: $c7;
            }
          }
        }
        &-text{
          max-width: 93%;
          background: $c2;
          position: relative;
          border-radius: 5px;
          color: white;
          &:before{
            content: '';
            position: absolute;
            left: -5px;
            top: 9px;
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 5px 6px 0;
            border-color: transparent $c2 transparent transparent;
          }

          h2{
            padding: 15px;
            line-height: 17px;
            position: relative;
          }
          span{
            position: absolute;
            right: 0;
            bottom: -18px;
            font-size: 10px;
            color: $c3;
          }
        }

        &-img{
          @extend .x-chat-win-item-text;
          max-width: none;
          background: none;
          box-shadow: inset $c11 0 0 0 3px;
          padding: 20px;
          position: relative;
          img{
            width: 220px;
          }
        }

        &.from{
          @extend .x-chat-win-item;
          + .x-chat-win-item.from{
            margin-top: 80px;
          }
        }
        &.to{
          @extend .x-chat-win-item;
          justify-content: flex-end !important;
          .x-chat-win-item-text{
            background: #8da2b5;
            order: 0;

            &:before{
              left: inherit;
              right: -5px;
              border-width: 6px 0 6px 5px;
              border-color: transparent transparent transparent #8da2b5;
            }
            &.sended{
              &:after{
                left: -30px;
                right: initial;
              }
            }
          }

          .x-chat-win-item-ava{
            order: 1;
            text-align: right;
          }

          + .x-chat-win-item.to{
            margin-top: 80px;
          }
        }
      }

      &-send{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100px;
        background: $c5;
        &-input{
          margin: 16px;
          width: 81%;
          position: relative;
          input{
            margin: 0;
          }
          &-add{
            position: absolute;
            right: 10px;
            top: 10px;
            border: none;
            background: none;
            font-size: 20px;
            cursor: pointer;
            input{
              display: none;
            }
          }
        }

        .x-btn-big{
          width: 12%;
          border-radius: 5px;
          margin: 0 3% 0 0;
          height: 40px;
          line-height: 40px;
        }
      }
    }
  }

  &-user{
    box-shadow: 0 2px 20px -6px #171717;
    &-menu{
      width: 20%;
      border-right: 2px solid $c5;
      &-image{
        display: block;
        text-align: center;
        padding: 25px 0;
        img{
          width: 150px;
          max-height: 150px;
          border-radius: 50%;
        }
      }

      &-name{
        text-transform: uppercase;
        color: $c2;
        font-weight: 500;
        font-size: 14px;
        margin: 0 0 25px;
        text-align: center;
      }

      &-info{
        margin: 0 0 25px;
        button{
          border: none;
          background: none;
          padding: 5px 0;
          width: 50%;
          font-size: 12px;
          color: $c9;
          &:nth-child(odd){
            border-right: 1px solid $c5;
          }
          &:hover{
            background: $c5;
          }
        }
      }

      &-settings{
        button{
          text-align: left;
          width: 100%;
          border: none;
          background: none;
          display: block;
          padding: 17px 0 17px 30px;
          border-right: 4px solid transparent;
          b, span{
            @extend .dibM;
            color: $c1;
            text-transform: uppercase;
            font-size: 14px;
          }
          b{
            width: 40px;
            i{
              font-size: 30px;
            }
          }
          img{
            height: 20px;
          }

          &:hover,&.active{
            border-right: 4px solid $c1;
            background: $c5;
          }
        }
      }
    }

    &-content{
      width: 80%;
      overflow: hidden;
    }

    &-link{
      position: relative;
      img{
        height: 40px;
        border-radius: 50%;
      }
      span{
        position: absolute;
        right: 5px;
        bottom: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #01a74f;
        display: block;
      }
    }
  }

  &-steps{
    width: 80%;
    margin: 30px auto;
    position: relative;
    &:after, &:before{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      width: 98%;
      margin: -2px 0 0;
      height: 4px;
      background: $c5;
      transition: all 500ms linear;
    }
    &:after{
      z-index: 1;
      background: $c1;
    }
    span{
      @extend .dibM;
      position: relative;
      z-index: 2;
      color: white;
      width: 40px;
      height: 40px;
      line-height: 37px;
      text-align: center;
      font-size: 24px;
      border-radius: 50%;
      background: $c1;
    }

    &.one:after{width: 98%;margin: -2px 1% 0;}
    &.two:after{width: 50%;}

    &.first:after{width: 22%;}
    &.second:after{width: 50%;}
    &.third:after{width: 82%;}
    &.fourth:after{width: 98%;margin: -2px 1% 0;}
  }

  &-module{
    cursor: pointer;
    position: relative;
    background: #fafafa;
    border-bottom: 1px solid white;
    padding: 10px;
    width: 100%;
    font-size: 0;
    display: block;
    &-radio{
      position: absolute;
      right: 20px;
      top: 50%;
      margin: -8px 0 0;
      input{
        display: none;
        &:checked + b{
          opacity: 1;
        }
      }
      b{
        opacity: 0.5;
      }
      //span{
      //  @extend .dibM;
      //  width: 16px;
      //  height: 16px;
      //  border-radius: 50%;
      //  border: 1px solid $c5;
      //  background: white;
      //  position: relative;
      //  &:after{
      //    content: '';
      //    opacity: 0;
      //    position: absolute;
      //    left: 0;
      //    right: 0;
      //    top: 0;
      //    bottom: 0;
      //    background: $c1;
      //    border-radius: 50%;
      //    width: 100%;
      //    height: 100%;
      //    border-radius: 50%;
      //    transition: all 100ms linear;
      //  }
      //}
    }

    &-img{
      @extend .dibM;
      width: 100px;
      height: 100px;
      line-height: 100px;
      border-radius: 50%;
      background: $c5;
      text-align: center;
      img{
        width: 80px;
        max-height: 80px;
      }
    }

    &-text{
      @extend .dibM;
      width: 80%;
      text-align: left;
      padding: 0 0 0 20px;
      &-h2{
        font-weight: 600;
        font-size: 14px;
        color: $c11;
        display: block;
        margin: 10px 0 5px 0;
        i{
          color: #70b2df;
        }
      }
      &-p{
        font-size: 12px;
        color: $c3;
      }
    }

    &:hover{
      background: #ededed;
    }
  }

  &-card{
    margin-bottom: 30px;
    font-size: 0;
    text-align: left;
    &-left{
      @extend .dibT;
      width: 40%;
      margin: 0 4% 0 0;
      border-radius: 30px 0 0 30px;
      border: 1px solid $c5;
      overflow: hidden;
      text-align: center;
      figure{
        margin: 0 0 10px;
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid $c5;
        img{
          width: 100%;
          max-height: 160px;
        }
        figcaption{
          position: absolute;
          left: 0;
          right: 0;
          bottom: -100px;
          background: rgba(0, 0, 0, 0.8);
          padding: 5px;
          text-align: center;
          font-size: 16px;
          color: white;
          transition: all 200ms linear;
          input{
            opacity: 0;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            cursor: pointer;
          }
        }

        &:hover{
          figcaption{
            bottom: 0;
          }
        }
      }

      &-footer{
        border-top: 1px solid $c5;
      }

      .x-form-input{
        width: 94%;
      }
    }

    &-right{
      @extend .dibT;
      width: 40%;
      min-height: 372px;
      border-radius: 0 30px 30px 0;
      border: 1px solid $c5;
      overflow: hidden;
      position: relative;
    }

    &-create{
      border: none;
      background: none;
      line-height: 89px;
      font-size: 40px;
      color: #fff;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: block;
      img{
        height: 90px;
      }
    }
  }

  &-connection{
    font-size: 12px;
    border-radius: 3px;
    padding: 25px;
    margin: 20px 0;
    color: #0d7fcc;
    border: 1px solid #e0e0e0;
    background: #edf8ff;
    position: relative;
    &-if{
      position: absolute;
      left: 10px;
      top: 41px;
    }
    .x-modal-close-x{
      font-size: 18px;
      line-height: 18px;
      top: 10px;
      right: 10px;
    }
    &-row{
      margin: 5px 0;
      text-align: left;
      p{
        margin: 5px 0;
      }
    }
  }

  &-toggle-content{
    display: none;
    width: 100%;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid $c4;
    padding: 15px;
    color: $c2;
    margin: 0 0 10px;
    background: white;
    &.active{
      display: block;
    }
  }

  &-dropdown{
    @extend .dibM;
    position: relative;

    button{
      border: none;
      background: none;
      padding: 15px 80px;
      font-size: 14px;
      text-transform: uppercase;
      i{
        margin: 0 0 0 40px;
        font-size: 20px;
        transition: all 100ms linear;
      }
      &.active{
        i{
          transform: rotate(180deg);
        }
      }
    }
    &-content{
      display: none;
      z-index: 1;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      background: white;
      color: $c2;
      padding: 15px;
      box-shadow: 0 6px 20px -6px #171717;

      &.active{
        display: block;
      }
    }
  }

  &-plans{
    padding: 0 60px;
    &-item{
      width: 24%;
      border: 1px solid $c5;
      border-radius: 3px;
      margin: 10px 0;
      padding: 30px;
      background: white;
      text-align: center;
      h2{
        font-size: 16px;
        color: $c2;
        font-weight: 700;
        margin-bottom: 30px;
        text-transform: uppercase;
      }
      h1{
        font-size: 61px;
        color: $c2;
        margin-bottom: 20px;
      }
      h3{
        font-size: 16px;
        color: $c3;
        font-weight: 700;
        margin-bottom: 20px;
      }
      hr{
        border: none;
        width: 100%;
        border-bottom: 1px dashed $c4;
      }
      p{
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        color: #055c96;
        margin: 20px 0;
      }
      .x-btn_o{
        border-radius: 30px;
        margin-top: 30px;
        padding: 15px 0;
        width: 100%;
        font-size: 16px;
      }
    }
  }

  &-subHeader-dropdown{
    border-radius: 5px;
    background: #fff;
    position: absolute;
    left: 13px;
    top: 27px;
    min-width: 100%;
    box-shadow: 0 2px 20px -6px #171717;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transform: translate(0px, -10px) skew(0deg, 5deg);
    transition: all 200ms linear;
    a{
      display: block;
      color: $c9;
      padding: 7px;
      white-space: nowrap;
    }

    &.active{
      z-index: 10;
      opacity: 1;
      visibility: visible;
      transform: translate(0px, 0px) skew(0deg, 0deg);
    }
  }

  &-message-sended{
    text-align: center;
    max-width: 400px;
    margin: 30px auto;
    img{
      display: block;
      width: 150px;
      margin: 0 auto 20px;
    }
    h1{
      font-size: 40px;
      color: $c9;
      margin-bottom: 20px;
    }
    h2{
      font-size: 16px;
      color: #838182;
    }
  }

  &-select{
    position: relative;
    display: inline-block;
    select {
      background: #fff;
      border: 1px solid #e0e0e0;
      padding: 6px 15px;
      color: #055c96;
      border-radius: 0;
      -webkit-appearance:none;
      display: inline-block;
      margin: 0;
      font: inherit;
    }

    /* for Webkit's CSS-only solution */
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      select {
        padding-right:30px;
      }
    }

    &:after {
      content: "\f07d";
      font-family: FontAwesome;
      position: absolute;
      font-size: 14px;
      top: 6px;
      right: 0;
      bottom: 0;
      padding: 0 7px;
      color: #055c96;
    }

    &-big{
      @extend .x-select;
      width: 100%;
      display: inline-block;
      text-align: left;
      height: 44px;
      line-height: 44px;
      border: none;
      text-transform: uppercase;
      position: relative;
      select{
        width: 100%;
        padding: 0 15px;
        background: $c7;
        color: white;
        text-transform: uppercase;
      }
      i{
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 14px;
        color: white;
      }
      &:after{
        display: none;
      }

      &-gray{
        @extend .x-select-big;
        select{
          background: #d3d3d3;
          color: $c9;
          border-radius: 3px;
          height: 100%;
        }
      }
    }

    &_med{
      @extend .x-select;
      border-radius: 3px;
      border: 2px solid #e0e0e0;
      color: #055c96;
      select{
        font-size: 15px;
        height: 40px;
        line-height: 40px;
        padding: 0 60px 0 15px;
      }
      &:after{
        font-size: 16px;
        top: 12px;
      }
    }

    &-box{
      @extend .dibT;
      width: 32%;
      border-radius: 5px;
      text-align: center;
      padding: 10px 30px;
      cursor: pointer;
      position: relative;
      border: 1px solid transparent;
      input{
        display: none;
        &:checked + i{
          border: 1px solid $c2;
        }
      }
      &-wrap{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        border: 1px solid $c3;
      }
      img{
        margin: 0 auto 15px;
        height: 60px;
      }
      b{
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
      }
      &:hover{
        .x-select-box-wrap{
          border: 1px solid $c2;
        }
      }
    }

    &-tag{
      width: 100%;
      background: white;
      border: 1px solid #e0e0e0;
      padding: 5px !important;
      color: $c9;
      display: inline-block;
      margin: 0;
      border-radius: 3px;
      position: relative;
      .ui-select{
        &-search{
          @extend .dibM;
          margin: 0 !important;
        }

        &-match{
          @extend .dibM;
          line-height: 22px;
          &-item{
            background: #f3f3f3;
            padding: 0 5px 0 0;
            border-radius: 3px;
          }
          &-close{
            font-size: 14px !important;
            line-height: 0 !important;
            cursor: pointer;
          }

          > span{
            @extend .dibM;
          }
        }

        &-choices{
          position: absolute;
          left: 0;
          right: 0;
          background: #fff;
          z-index: 11111;
          border: 1px solid #e0e0e0;
          border-top: 0;
        }
      }
    }
  }

  &-circle{
    text-align: center;
    padding: 0 0 30px;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -15px;
      width: 50px;
      height: 10px;
      background: #d8e1e6;
      margin: 0 auto;
    }
    &-step{
      width: 60px;
      height: 60px;
      line-height: 55px;
      font-size: 20px;
      border: 3px solid transparent;
      background: transparent;
      text-align: center;
      color: #d8e1e6;
      border-radius: 50%;
      &.active{
        border: 3px solid $c1;
        color: $c1;
      }
    }
  }

  &-upload{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    input{
      display: none;
      &:hover + *,
      &:focus + *{
        background: rgba(13, 127, 204, 0.5);
        border: 2px solid $c3;
      }
    }
    &-wrap{
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 30px;
      border: 2px dashed $c3;
      background: transparent;
      position: relative;
      transition: all 200ms linear;
    }
    &-box{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      i{
        font-size: 50px;
        margin-bottom: 20px;
        color: $c1;
      }
      &-title{
        font-size: 24px;
        color: $c1;
        margin-bottom: 10px;
        text-transform: uppercase;
        display: block;
        &-s{
          display: block;
          font-size: 14px;
          color: $c3;
          b{
            font-weight: 400;
            text-decoration: underline;
          }
        }
      }
    }
  }

//----PAGE ANIMATION----//
  &-panim{
    &.ng-hide-remove,
    &.ng-hide-add {
      position: absolute;
      left: 0;
      right: 0;
    }

    &.ng-hide-remove {
      opacity: 0;
      animation: fadeInUp .4s linear;
    }

    &.ng-hide-add {
      opacity: 1;
      animation: fadeInUp .4s linear reverse;
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

//----REPEAT ANIMATION----//
  &-repeat{
    &.ng-enter {
      -webkit-transition: 1s;
      transition: 1s;
      opacity: 0;
    }
    &.ng-enter-active {
      opacity: 1;
    }
  }

//----TAB ANIMATION----//
  &-tabanim{
    &.ng-hide-remove {
      opacity: 0;
      animation: fadeInUpSmall .4s linear;
    }

    &.ng-hide-add {
      opacity: 1;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      animation: fadeInUpSmall .4s linear reverse;
    }
  }

  @keyframes fadeInUpSmall {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 10%, 0);
      transform: translate3d(0, 10%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
}












.x{
  &-pricing{
    padding: 150px 0 0;
    background: #f1f7fc;
    background: -moz-linear-gradient(top,  #f1f7fc 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top,  #f1f7fc 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #f1f7fc 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f7fc', endColorstr='#ffffff',GradientType=0 );
    &-title{
      text-align: center;
      font-size: 34px;
      font-weight: 700;
      margin: 0 0 15px;
      &_a{
        @extend .x-pricing-title;
        font-size: 22px;
        font-weight: 400;
        margin: 0 0 100px;
      }
    }

    &-box{
      width: 960px;
      margin: 0 auto 180px;
    }

    &-team{
      width: 960px;
      margin: 0 auto 80px;
      &-item{
        width: 32%;
        border-radius: 3px;
        overflow: hidden;
        text-align: center;
        border: 1px solid $c5;
        min-height: 561px;
        figure{
          img{width: 100%;}
        }
        h2{
          font-size: 24px;
          font-weight: 600;
          margin: 15px 0;
        }
        h3{
          font-size: 18px;
          font-weight: 500;
          margin: 30px 0;
        }
        p{
          font-size: 14px;
          font-weight: 400;
          margin: 30px 0;
        }

        .x-btn_o{
          border-radius: 30px;
          padding: 10px 0;
          width: 100%;
          font-size: 16px;
          margin: 0 0 20px;
        }
      }
    }

    &-trial{
      text-align: center;
      padding: 90px 0;
      background: url(http://dummyimage.com/300x300/000/fff) 0 0 no-repeat;
      background-size: 100% auto;

      .x-btn_o{
        border-radius: 30px;
        background: none;
        font-weight: 600;
        font-size: 14px;
        padding: 13px 80px;
        border: 1px solid white;
        color: white;
      }
    }
  }

  &-bcas{
    &-item{
      width: 32%;
      margin: 0 0 30px;
      h2{
        font-size: 16px;
        color: $c2;
        button{
          font-size: 16px;
          float: right;
          color: $c2;
        }
      }
      &-box{
        margin: 15px 0 20px;
        min-height: 290px;
        border: 1px solid $c4;
        border-radius: 10px;
        text-align: center;
        padding: 10px 0;
        img{
          width: 90px;
          margin: 89px auto;
          display: block;
        }
        h2{
          font-size: 16px;
          font-weight: 400;
          color: $c2;
          margin: 25px 0 35px;
        }
        button{
          display: block;
          width: 100%;
          background: none;
          border: none;
          font-size: 16px;
          font-weight: 400;
          text-align: left;
          padding: 15px 30px;
          color: $c2;
          span{
            float: right;
          }
          &:hover,&.active{
            background: $c4;
          }
        }
      }

      &-btns{
        border-radius: 3px;
        border: 1px solid #e0e0e0;
        height: 40px;
        line-height: 40px;
        font-size: 0;
        overflow: hidden;
        button{
          padding: 0 10px;
          border: none;
          background: white;
          height: 100%;
          vertical-align: top;
          font-size: 12px;
          color: $c3;
          text-transform: uppercase;
          &:hover{
            background: $c1;
            color: white;
          }
          &.active{
            background: rgba(13, 127, 204, 0.7);
            color: white;
          }
        }
      }
      &-btn{
        background: white;
        border-radius: 3px;
        border: 1px solid #e0e0e0;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        font-size: 14px;
        color: $c3;
        position: relative;

        i{
          color: $c1;
          font-size: 14px;
          margin-left: 10px;
        }
        &_time{
          @extend .x-bcas-item-btn;
          width: 110px;
          .ui-timepicker-input{
            border: none;
            width: 100%;
            height: 100%;
            vertical-align: top;
          }
          .ui-timepicker-wrapper {
            width: 100%;
            left: 0 !important;
            line-height: 18px;
          }

          i{
            position: absolute;
            right: 10px;
            top: 12px;
            color: $c1;
            font-size: 14px;
            margin-left: 0;
          }
        }
      }

      &-event{
        width: 49%;
        .x-bcas-item-box{
          width: 100%;
          margin: 20px auto;
        }

        .x-btn-o{
          font-size: 16px;
          color: $c2;
        }
      }
    }
  }

  &-exp{
    padding: 150px 0 0;

    &-fst{
      width: 980px;
      margin: 0 auto 100px;
      h1{
        font-size: 31px;
        line-height: 50px;
        color: #055c96;
        font-weight: 400;
      }
    }

    &-snd{
      width: 920px;
      margin: 70px auto 90px;
      h2{
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        color: $c9;
        margin: 0 0 7px;
      }
      h3{
        font-size: 16px;
        color: $c3;
        margin-bottom: 60px;
        font-weight: 300;
      }
      p{
        font-size: 18px;
        line-height: 28px;
        color: $c9;
      }
    }

    &-team{
      background: #fafafa;
      &-title{
        font-size: 38px;
        color: $c9;
        font-weight: 400;
        text-align: center;
        padding: 65px 0 30px;
      }

      &-item{
        margin-bottom: 90px;
        figure{
          width: 200px;
          height: 200px;
          overflow: hidden;
          border-radius: 50%;
          margin: 40px;
          box-shadow: 0 2px 20px -6px #171717;
          img{
            width: 100%;
          }
        }
        h2{
          font-size: 30px;
          font-weight: 700;
          color: $c2;
          text-align: center;
          margin: 0 0 16px;
        }
        h3{
          font-size: 24px;
          color: $c3;
          font-weight: 300;
          text-align: center;
          margin: 0 0 25px;
        }

        &-social{
          text-align: center;
          a{
            @extend .dibM;
            font-size: 30px;
            color: $c3;
            margin: 0 8px;
          }
        }
      }
    }
  }

  &-build{
    &-h2{
      color: $c9;
      font-weight: 600;
      font-size: 28px;
    }
    &-p{
      color: $c9;
      font-size: 18px;
      line-height: 22px;
    }
    &-aside{
      width: 25%;
      border-right: 2px solid $c5;
      background: #f3f2f2;
      box-shadow: -2px 0 20px 0 rgba(0,0,0,.1),-1px 0 0 0 rgba(0,0,0,.1);
      transition: all 200ms linear;
      &-item{
        margin-bottom: 25px;
        h1{
          font-size: 16px;
          color: $c2;
          margin-bottom: 10px;
          span{
            float: right;
          }
        }
        h2{
          font-size: 14px;
          color: $c2;
          margin-bottom: 5px;
        }


        &:hover{
          .showOnHover{
            opacity: 1;
          }
        }
      }
    }

    &-chart{
      height: 100%;
      width: 75%;
      position: relative;
      text-align: center;
      transition: all 200ms linear;

      &-btn{
        position: fixed;
        z-index: 100;
        right: 15px;
        bottom: 15px;
        cursor: pointer;
        img{
          width: 40px;
        }
      }

      &-item{
        display: inline-block;
        border-radius: 5px;
        padding: 8px 20px 8px 8px;
        border: 2px dashed transparent;
        background: #e7e7e7;
        width: 300px;
        position: relative;
        z-index: 1;
        margin: 20px 0;
        transition: all 200ms linear;
        &-x{
          right: 5px;
          top: -20px;
          border: none;
          background: none;
          position: absolute;
          font-size: 26px;
          color: $c1;
          cursor: pointer;
          transform: rotate(45deg);
          opacity: 0;
          transition: all 100ms linear;
        }
        &:hover{
          .x-build-chart-item-x{
            opacity: 1;
          }
        }



        h2{
          font-size: 16px;
          color: #343434;
          width: 140px;
          min-height: 62px;
          font-weight: 700;
          text-align: left;
        }
        &-img{
          width: 36%;
          background: white;
          img{
            width: 60%;
            margin: 18px auto;
          }
        }
        &-btns{
          font-size: 0;
          letter-spacing: 0;
          text-align: left;
          position: relative;
          button{
            @extend .dibM;
            border: none;
            font-size: 12px;
            color: #fff;
            background: #323a45;
            height: 30px;
            padding: 0 10px;
            text-transform: uppercase;
            i, span{
              @extend .dibM;
            }
            &:nth-child(2){
              border-left: 1px solid #59616c;
            }
          }
        }
        &-add{
          position: relative;
          z-index: 1;
          display: inline-block;
          background: #fff;
          border: 8px solid #e7e7e7;
          color: #dee3df;
          font-size: 25px;
          font-weight: 700;
          border-radius: 50%;
          width: 36px;
          height: 36px;
          line-height: 22px;
          padding: 0;
          transition: all 100ms linear;
          &:hover{
            transform: rotate(180deg);
          }
        }

        &-edit{
          position: absolute;
          top: 100%;
          left: 0;
          width: 99%;
          background: #323a45;
          text-align: center;
          display: none;
          button{
            background: none;
            border-top: 1px solid #59616c;
            color: white;
            padding: 5px;
            text-transform: uppercase;
            &:nth-child(2){
              border: none;
              border-top: 1px solid #59616c;
            }
          }

          &.active{
            display: block;
          }
        }
      }

      &-title{
        text-align: left;
        .x-form-input{
          @extend .dibT;
          width: auto;
          border: none;
          font-size: 20px;
          &:focus{
            outline: 1px solid $c1;
          }
        }
        .x-btn-o{
          @extend .dibT;
          font-size: 16px;
        }
      }
    }

    &-group{
      position: relative;
      &-title{
        margin: 0 0 0 20px;
        &-head{
          border: 2px solid transparent;
          font-size: 15px;
          height: 40px;
          line-height: 40px;
          color: $c2;
          cursor: pointer;
          &.active{
            display: none;
          }
        }
        input{
          display: none;
          &.active{
            display: block;
          }
        }
        i{
          color: $c1;
          font-size: 16px;
        }
        &:hover{
          .showOnHover{
            opacity: 1;
          }
        }
      }


      &-items{
        width: 100%;
        border-radius: 3px;
        padding: 0 5px;
        margin: 0 0 10px;
        font-size: 0;
        letter-spacing: 0;
        background-color: white;
        &-item{
          @extend .dibT;
          display: inline-block;
          vertical-align: top;
          border-radius: 3px;
          border: none;
          background: #fafafa;
          font-size: 12px;
          color: $c9;
          text-align: center;
          width: 48%;
          margin: 8px 1%;
          cursor: pointer;
          padding: 8px 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          position: relative;
          &.active{
            color: white;
            background: $c1;
          }

          &.error:after {
            content: ' ';
            position: absolute;
            z-index: 5;
            right: 3px;
            top: 3px;
            width: 6px;
            height: 6px;
            border: 2px solid #fff;
            background-color: #e9604a;
            border-radius: 50%;
          }
        }
      }


      &.locked{
        &:hover{
          background-color: initial;
          .x-build-group-title{
            cursor: auto;
          }
        }
        &:active{
          box-shadow: none;
        }
      }
      &.over{
        opacity: .4;
        box-shadow: 0 0px 9px 0px #0d7fcc;
      }

      &.drag{
        &:after{
          content: "\f0c9";
          font-family: FontAwesome;
          position: absolute;
          top: 13px;
          left: 4px;
          font-size: 18px;
          font-weight: 700;
          color: #0d7fcc;
          margin: 0;
          opacity: 0;
          transition: all 100ms linear;
        }
      }

      &:hover{
        .showOnHover{
          opacity: 1;
        }

        &:after{
          opacity: 1;
        }
      }
    }

    &-box{
      width: 300px;
      margin: 0 0 30px;
      h2{
        margin: 15px 0;
        font-size: 16px;
        color: $c2;
        button{
          font-size: 16px;
          float: right;
          color: $c2;
        }
      }
      &-mid{
        margin: 0 0 20px;
        border: 1px solid $c4;
        border-radius: 10px;
        text-align: center;
        padding: 10px 0;
        background: white;
        position: relative;

        button{
          display: block;
          width: 100%;
          background: none;
          border: none;
          font-size: 16px;
          font-weight: 400;
          text-align: left;
          padding: 15px 30px;
          color: $c2;
          span{
            float: right;
          }
          &:hover,&.active{
            background: $c4;
          }
        }

        .x-btn-o:hover{
          background: inherit;
        }

        &_add{
          @extend .x-build-box-mid;
          &-create{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            transition: all 200ms linear;
            img{
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%,-50%);
              width: 90px;
            }
          }

          &-content{
            position: relative;
            opacity: 0;
            transition: all 200ms linear;
          }

          &:hover{
            .x-build-box-mid_add-create{
              opacity: 0;
            }
            .x-build-box-mid_add-content{
              opacity: 1;
            }
          }
        }
      }

      &-btns{
        border-radius: 3px;
        border: 1px solid #e0e0e0;
        height: 40px;
        line-height: 40px;
        font-size: 0;
        overflow: hidden;
        button{
          padding: 0 10px;
          border: none;
          background: white;
          height: 100%;
          vertical-align: top;
          font-size: 12px;
          color: $c3;
          text-transform: uppercase;
          &:hover{
            background: $c1;
            color: white;
          }
          &.active{
            background: rgba(13, 127, 204, 0.7);
            color: white;
          }
        }
      }
      &-btn{
        background: white;
        border-radius: 3px;
        border: 1px solid #e0e0e0;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        font-size: 14px;
        color: $c3;
        position: relative;

        i{
          color: $c1;
          font-size: 14px;
          margin-left: 10px;
        }
        &_time{
          @extend .x-bcas-item-btn;
          width: 110px;
          .ui-timepicker-input{
            border: none;
            width: 100%;
            height: 100%;
            vertical-align: top;
          }
          .ui-timepicker-wrapper {
            width: 100%;
            left: 0 !important;
            line-height: 18px;
          }

          i{
            position: absolute;
            right: 10px;
            top: 12px;
            color: $c1;
            font-size: 14px;
            margin-left: 0;
          }
        }
      }

      &-event{
        width: 49%;
        .x-bcas-item-box{
          width: 100%;
          margin: 20px auto;
        }

        .x-btn-o{
          font-size: 16px;
          color: $c2;
        }
      }

      .x-build-group-title{
        &:hover{
          background-color: initial;
          cursor: auto;
          .showOnHover{
            opacity: 1;
          }
        }
        &:active{
          box-shadow: none;
        }
      }
    }

    &-card{
      margin-bottom: 30px;
      font-size: 0;
      text-align: left;
      &-item{
        @extend .dibT;
        width: 260px;
        padding: 3px;
        margin: 0 5px 20px 0;
        background: white;
        border: 1px solid $c5;
        text-align: center;
        position: relative;
        input,textarea{
          border-color: transparent;
        }

        &-remove{
          font-size: 16px;
          color: $c1;
          position: absolute;
          top: -20px;
          right: 0;
        }
        &-camera{
          font-size: 16px;
          color: $c1;
          position: absolute;
          top: -18px;
          right: 25px;
          input{
            display: none;
          }
        }
        &-choose{
          width: 100%;
          margin: 0 auto;
          position: relative;
          border-top: 1px solid #ebebeb;
          input{
            width: 100% !important;
            padding-right: 60px;
            border-top: 1px solid #f0f0f0;
            margin: 0;
            font-size: 17px;
            text-align: center;
            color: $c1;
          }
          &-btns{
            position: absolute;
            right: 0;
            height: 100%;
            top: 0;
          }
          &-btn{
            border: none;
            background: none;
            color: $c9;
            opacity: 0.4;
            font-size: 16px;
            padding: 0 8px;
            margin: 11px 0;
            &:hover{
              opacity: 1;
            }
            &:first-child{
              border-right: 1px solid $c9;
            }
          }

          &-edit{
            display: none;
            width: 130%;
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: #fff;
            box-shadow: 0 2px 20px -6px #171717;
            .x-form-input{
              width: 48% !important;
              padding: 0 10px;
              vertical-align: top;
            }
            .x-build-card-item-choose-btn{
              opacity: 1;
              &:first-child, &:nth-last-child(2){
                border-right: 1px solid $c9;
              }
            }

            &-tag{
              position: relative;
              display: inline-block;
              width: 52%;
              vertical-align: top;
              text-align: left;
              .x-select-tag{
                position: absolute;
                left: 0;
                right: 0;
                top: 3px;
              }
            }

            &.active{
              display: block;
            }
          }

          &-btnEdit{
            position: absolute;
            left: 85%;
            top: 0;
            button{
              border: none;
              border-radius: 3px;
              color: $c9;
              background: #f3f3f3;
              padding: 9px;
              margin: 4px 0;
            }
            a{
              padding: 12px 0;
              display: inline-block;
            }
          }
        }

        &-upload{
          border-radius: 15px 0 0 0;
          margin: 0 0 10px;
          position: relative;
          overflow: hidden;
          border-bottom: 1px solid $c5;
          img{
            border-radius: 15px 0 0 0;
            max-height: 160px;
          }
          figcaption{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            text-align: center;
            font-size: 16px;
            color: white;
            padding: 45px 0 0;
            opacity: 0;
            transition: all 200ms linear;
            button{
              margin: 0 5px;
              i{
                color: rgba(255, 255, 255, 0.73);
                font-size: 20px;
              }
              span{
                display: block;
                margin-top: 5px;
                font-size: 12px;
                color: rgba(255, 255, 255, 0.73);
              }
            }
          }

          &:hover{
            figcaption{
              opacity: 1;
            }
          }
        }

        &.left, &.middle{
          .x-form-input, .x-form-textarea{
            border: 1px solid transparent;
            background: transparent;
            &:focus{
              border: 1px solid #d9d9d9;
            }
          }
        }
        &.left{
          border-radius: 15px 0 0 15px;
          figcaption{
            border-radius: 15px 0 0 0;
          }
        }
        &.middle{
          .x-build-card-item-upload{
            border-radius: 0;
            img{
              border-radius: 0;
            }
          }
        }


        &-footer{
          border-top: 1px solid $c5;
          background: #fff;
          border-radius: 0 0 15px 15px;
          .x-btn-o{
            padding: 5px 0;
            i{
              color: $c4;
              font-size: 22px;
            }
            span{
              font-size: 17px;
              color: $c9;
              text-transform: none;
              &:first-letter{
                text-transform: uppercase;
              }
            }
          }
        }

        &.middle{
          border-radius: 0;
        }

        &.right{
          border-radius: 0 15px 15px 0;
        }

        &.one{
          border-radius: 15px;
          padding: 0;
          background: #ebebeb;
          .x-form-textarea{
            border: 1px solid transparent;
            background: transparent;
            margin: 5px auto 0;
            width: 98%;
            font-size: 16px;
            color: $c9;
            &:focus{
              border: 1px solid #d9d9d9;
            }
          }
        }

        &.img{
          border-radius: 10px;
          cursor: pointer;
          .x-build-card-item-file{
            display: none;
          }
          .x-build-card-item-icon{
            font-size: 22px;
            text-align: center;
            color: $c9;
            margin: 40px 0 30px;
          }
          .x-build-card-item-title{
            display: block;
            text-align: center;
            font-size: 16px;
            color: $c9;
            margin: 0 0 40px;
          }
        }

        &.plugin{
          width: 100%;
          padding: 20px;
          background: white;
          border-radius: 30px;
        }

        &.drag{
          &:after{
            content: "\f07e";
            font-family: FontAwesome;
            font-size: 16px;
            color: $c9;
            position: absolute;
            top: -20px;
            left: 20px;
            opacity: 0;
            transition: all 100ms linear;
          }
        }

        &:hover{
          &:after{
            opacity: 1;
          }
          .showOnHover{
            opacity: 1;
          }
        }
      }

      &-create{
        border: none;
        background: none;
        line-height: 89px;
        font-size: 40px;
        color: #fff;
        margin: 119px auto;
        display: block;
        img{
          height: 90px;
        }
      }
    }

    &-row{
      text-align: left;
      position: relative;
      margin: 25px;
      &-remove{
        position: absolute;
        top: 50%;
        left: -19px;
        font-size: 18px;
        font-weight: 100;
        color: $c1;
        margin: -60px 0 0;
        opacity: 0;
        padding: 0;
        transition: all 100ms linear;
      }

      &.drag{
        &:after{
          content: "\f07d";
          font-family: FontAwesome;
          position: absolute;
          top: 50%;
          left: -16px;
          font-size: 18px;
          font-weight: 100;
          color: $c9;
          margin: -9px 0 0;
          opacity: 0;
          transition: all 100ms linear;
        }
      }

      &:hover{
        .x-build-row-remove{
          opacity: 1;
        }
        &:after{
          opacity: 1;
        }
      }
    }

    &-testBot{
      position: absolute;
      z-index: 101;
      right: 0;
      top: 0;
      width: 0;
      height: 100%;
      background: white;
      border-left: 0 solid transparent;
      transition: all 200ms linear;
      &-content{
        height: 100%;
        padding: 20px 20px 100px;
        .x-btn-o{
          font-size: 18px;
        }
        &-footer{
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          padding: 0 20px 10px;
        }
      }

      &.active{
        width: 28%;
        border-left: 2px solid #f0f0f0;
        box-shadow: -2px 0 20px 0 rgba(0,0,0,.1),-1px 0 0 0 rgba(0,0,0,.1);
      }
    }

    &.onlyChat{
      .x-build-aside{
        width: 0;
        border: none;
      }
      .x-build-chart{
        width: 100%;
      }
    }
  }
}
