<div class="x-wrap-in wp-btw-cen h100p">
    <div class="x-header-db-left wp-btw-cen">
        <div class="x-header-logo">
            <a href="#/"><img src="i/icons/logoIcon.jpg" alt=""></a>
        </div>
        <a href="#/dashboard" ng-class="{active: curPage('/dashboard')}" class="x-btn-under h8vh">
            <img src="i/icons/dashboard@2x.png" alt="">
            <span>dashboard</span>
        </a>
        <a href="#/bot" ng-class="{active: curPage('/bot')}" class="x-btn-under h8vh">
            <img src="i/icons/bot@2x.png" alt="">
            <span>your bot</span>
        </a>
        <a href="#/conversation2" ng-class="{active: curPage('/conversation')}" id="step1" class="x-btn-under h8vh">
            <img src="i/icons/conversation@2x.png" alt="">
            <span>conversation</span>
        </a>
    </div>
    <nav class="x-header-db-nav">
        <a href="#/dashboard">help</a>
        <a href="#/dashboard">blog</a>
        <a href="#/dashboard">community</a>
        <a href="#/user" ng-class="{active: curPage('/user')}" class="x-user-link"><img src="i/icons/user.png" alt=""><span></span></a>
    </nav>
</div>