<div class="x-wrap wp-btw-cen h100p">
    <div class="x-header-logo">
        <a href="#/"><img src="i/icons/logo.png" alt=""></a>
    </div>
    <nav class="x-header-nav">
        <a href="#/pricing">Pricing</a>
        <a href="#/features">Features</a>
        <a href="#/about">About</a>
        <a href="#/">Blog</a>
        <button class="x-btn_o" ng-click="openModal(1)">Sign in</button>
    </nav>
</div>