<div class="x-wrap wp-arnd-cen">
    <div class="fl-flex1 tac">
        <a href="#/"><img src="i/icons/logo_f.png" style="height: 28px;vertical-align: middle;" alt=""></a>
    </div>
    <div class="fl-flex2 wp-arnd">
        <div class="x-footer-item">
            <h2>Support</h2>
            <a href="#">Lorem.</a><br>
            <a href="#">Lorem.</a><br>
            <a href="#">Lorem.</a>
        </div>
        <div class="x-footer-item">
            <h2>Company</h2>
            <a href="#">Lorem.</a><br>
            <a href="#">Lorem.</a><br>
            <a href="#">Lorem.</a>
        </div>
        <div class="x-footer-item">
            <h2>Legal</h2>
            <a href="#">Lorem.</a><br>
            <a href="#">Lorem.</a><br>
            <a href="#">Lorem.</a>
        </div>
    </div>
    <div class="fl-flex1 tac x-footer-social">
        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-angellist" aria-hidden="true"></i></a>
    </div>
</div>

<scrollable class="x-modal fixed" ng-show="openModalN == 1">
    <div class="x-wrap relative">
        <button class="x-modal-close" ng-click="openModal('')">+</button>

        <div class="x-modal-box">
            <h2 class="x-h2-dark tac">Sign in</h2>
            <div class="pad-v20"></div>


            <form class="x-form">
                <a href="" class="x-btn-big">
                    <span class="x-btn-big-icon"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    Lorem ipsum dolor sit.
                </a>

                <hr class="x-hr-or mar-v10">

                <div class="wp-btw">
                    <input type="text" class="x-form-input_48w" placeholder="E-mail">
                    <input type="text" class="x-form-input_48w" placeholder="Password">
                </div>

                <div class="wp-btw-cen pad-v15">
                    <label class="x-checkbox">
                        <input type="checkbox">
                        <i></i>
                        <span>Lorem ipsum dolor sit amet.</span>
                    </label>

                    <a href="#/dashboard" class="x-btn_o_big">Sign In</a>
                </div>

                <div class="pad-v20"></div>
                <a href="" class="mar-t40">Forgot your password?</a>
            </form>
        </div>
    </div>
</scrollable>