<div class="x-wrap-in wp-btw-cen h100p">
    <div class="x-header-db-left wp-btw-cen">
        <div class="x-header-logo">
            <a href="#/"><img src="i/icons/logoIcon.jpg" alt=""></a>
        </div>
        <button ng-click="setTab(11);openModal(11)" class="x-btn-box cWb2b2" id="buildStep1">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <span>test bot</span>
        </button>
        <button ng-click="openModal(15)" class="x-btn-box c2b0bW" id="buildStep2">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <span>deploy to messenger</span>
        </button>
    </div>
    <nav class="x-header-db-nav">
        <a href="#/conversation2" class="x-btn-box cWb1b1" id="buildStep3">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <span>conversation</span>
        </a>
        <a href="#/dashboard" class="x-btn-box cWb3b3">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <span>settings</span>
        </a>
        <a href="#/user" ng-class="{active: curPage('/user')}" class="x-user-link">
            <img src="i/icons/user.png" alt=""><span></span>
        </a>
    </nav>
</div>