<div class="x-wrap-in h100p">
    <div class="x-header-logo">
        <a href="#/"><img src="i/icons/arrowL.jpg" alt=""></a>
    </div>

    <span class="relative">
        <button toggle-next="" class="h8vh x-btn-under_w no-under">
            <span>Jarvis</span>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
        </button>
        <span class="x-subHeader-dropdown">
            <a href="">Lorem ipsum.</a>
            <a href="">Lorem ipsum.</a>
            <a href="">Lorem ipsum.</a>
            <a href="">Lorem ipsum.</a>
        </span>
    </span>
    <a href="#/build" ng-class="{active: curPage('/build')}" class="h8vh x-btn-under_w">
        <span>build</span>
    </a>
    <a href="#/broadcasting" class="h8vh x-btn-under_w">
        <span>broadcasting</span>
    </a>
    <a href="#/train" class="h8vh x-btn-under_w" id="buildStep4">
        <span>train<b>2</b></span>
    </a>
    <a href="#/dashboard" class="h8vh x-btn-under_w">
        <span>help</span>
    </a>
</div>