@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/Avenir/AvenirNextLTPro-DemiIt.eot');
  src: url('../fonts/Avenir/AvenirNextLTPro-DemiIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextLTPro-DemiIt.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextLTPro-DemiIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/Avenir/AvenirLTStd-Medium.eot');
  src: url('../fonts/Avenir/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirLTStd-Medium.woff') format('woff'),
  url('../fonts/Avenir/AvenirLTStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/Avenir/AvenirNextLTPro-UltLtCn.eot');
  src: url('../fonts/Avenir/AvenirNextLTPro-UltLtCn.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextLTPro-UltLtCn.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextLTPro-UltLtCn.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/Avenir/AvenirNextLTPro-DemiCn.eot');
  src: url('../fonts/Avenir/AvenirNextLTPro-DemiCn.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextLTPro-DemiCn.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextLTPro-DemiCn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/Avenir/AvenirNextLTPro-HeavyCn.eot');
  src: url('../fonts/Avenir/AvenirNextLTPro-HeavyCn.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextLTPro-HeavyCn.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextLTPro-HeavyCn.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/Avenir/AvenirLTStd-BlackOblique.eot');
  src: url('../fonts/Avenir/AvenirLTStd-BlackOblique.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirLTStd-BlackOblique.woff') format('woff'),
  url('../fonts/Avenir/AvenirLTStd-BlackOblique.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/Avenir/AvenirNextLTPro-MediumCn.eot');
  src: url('../fonts/Avenir/AvenirNextLTPro-MediumCn.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextLTPro-MediumCn.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextLTPro-MediumCn.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/Avenir/AvenirLTStd-Black.eot');
  src: url('../fonts/Avenir/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirLTStd-Black.woff') format('woff'),
  url('../fonts/Avenir/AvenirLTStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/Avenir/AvenirNextLTPro-Demi.eot');
  src: url('../fonts/Avenir/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextLTPro-Demi.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextLTPro-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/Avenir/AvenirNextLTPro-BoldCnIt.eot');
  src: url('../fonts/Avenir/AvenirNextLTPro-BoldCnIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextLTPro-BoldCnIt.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextLTPro-BoldCnIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/Avenir/AvenirNextLTPro-MediumCnIt.eot');
  src: url('../fonts/Avenir/AvenirNextLTPro-MediumCnIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextLTPro-MediumCnIt.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextLTPro-MediumCnIt.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/Avenir/AvenirNextLTPro-BoldCn.eot');
  src: url('../fonts/Avenir/AvenirNextLTPro-BoldCn.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextLTPro-BoldCn.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextLTPro-BoldCn.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/Avenir/AvenirLTStd-BookOblique.eot');
  src: url('../fonts/Avenir/AvenirLTStd-BookOblique.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirLTStd-BookOblique.woff') format('woff'),
  url('../fonts/Avenir/AvenirLTStd-BookOblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/Avenir/AvenirLTStd-Oblique.eot');
  src: url('../fonts/Avenir/AvenirLTStd-Oblique.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirLTStd-Oblique.woff') format('woff'),
  url('../fonts/Avenir/AvenirLTStd-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/Avenir/AvenirNextLTPro-Cn.eot');
  src: url('../fonts/Avenir/AvenirNextLTPro-Cn.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextLTPro-Cn.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextLTPro-Cn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/Avenir/AvenirNextLTPro-Bold.eot');
  src: url('../fonts/Avenir/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextLTPro-Bold.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextLTPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/Avenir/AvenirLTStd-Light.eot');
  src: url('../fonts/Avenir/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirLTStd-Light.woff') format('woff'),
  url('../fonts/Avenir/AvenirLTStd-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/Avenir/AvenirLTStd-LightOblique.eot');
  src: url('../fonts/Avenir/AvenirLTStd-LightOblique.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirLTStd-LightOblique.woff') format('woff'),
  url('../fonts/Avenir/AvenirLTStd-LightOblique.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/Avenir/AvenirNextLTPro-It.eot');
  src: url('../fonts/Avenir/AvenirNextLTPro-It.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextLTPro-It.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextLTPro-It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/Avenir/AvenirNextLTPro-CnIt.eot');
  src: url('../fonts/Avenir/AvenirNextLTPro-CnIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextLTPro-CnIt.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextLTPro-CnIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/Avenir/AvenirNextLTPro-DemiCnIt.eot');
  src: url('../fonts/Avenir/AvenirNextLTPro-DemiCnIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextLTPro-DemiCnIt.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextLTPro-DemiCnIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/Avenir/AvenirNextLTPro-HeavyCnIt.eot');
  src: url('../fonts/Avenir/AvenirNextLTPro-HeavyCnIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextLTPro-HeavyCnIt.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextLTPro-HeavyCnIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/Avenir/AvenirLTStd-HeavyOblique.eot');
  src: url('../fonts/Avenir/AvenirLTStd-HeavyOblique.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirLTStd-HeavyOblique.woff') format('woff'),
  url('../fonts/Avenir/AvenirLTStd-HeavyOblique.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/Avenir/AvenirLTStd-Roman.eot');
  src: url('../fonts/Avenir/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirLTStd-Roman.woff') format('woff'),
  url('../fonts/Avenir/AvenirLTStd-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/Avenir/AvenirNextLTPro-Regular.eot');
  src: url('../fonts/Avenir/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextLTPro-Regular.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextLTPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/Avenir/AvenirLTStd-Book.eot');
  src: url('../fonts/Avenir/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirLTStd-Book.woff') format('woff'),
  url('../fonts/Avenir/AvenirLTStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/Avenir/AvenirLTStd-Heavy.eot');
  src: url('../fonts/Avenir/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirLTStd-Heavy.woff') format('woff'),
  url('../fonts/Avenir/AvenirLTStd-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/Avenir/AvenirLTStd-MediumOblique.eot');
  src: url('../fonts/Avenir/AvenirLTStd-MediumOblique.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirLTStd-MediumOblique.woff') format('woff'),
  url('../fonts/Avenir/AvenirLTStd-MediumOblique.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/Avenir/AvenirNextLTPro-UltLtCnIt.eot');
  src: url('../fonts/Avenir/AvenirNextLTPro-UltLtCnIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextLTPro-UltLtCnIt.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextLTPro-UltLtCnIt.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
